<html lang="en" xmlns:th="https://thymeleaf.org">
<!--==CONTENT WRAPPER==-->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header sticky-header">
		<div class="content-col">
			<h1>Total View</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">Reports</li>
					<li class="breadcrumb-item">Total View</li>
				</ol>
			</nav>
		</div>
	</section>
	<!-- Main content -->
	<section class="main-content">
	<div class="row">
			<div class="col-12">
				<div class="search-section">
					<div class="search-heading ">
						<div class="title">
							<i class="fas fa-search"></i> <span>MODIFY YOUR SEARCH</span>
						</div>
						<div class="btns">
							<a href="javascript:void(0)"
								class="btn btn-theme-secondary cancel-search">Cancel</a> <a
								href="javascript:void(0)"
								class="btn btn-theme-primary submit-search" id="search">Search</a>
						</div>
					</div>
					<div class="search-content">
						<div class="row form-gutter">
							<div class="col-lg-4 col-md-12">
								<div class="form-group">
									<label for="" class="control-label">Customer Name</label> <input
										type="text" id="customerName" class="form-control"
										placeholder="Customer Name" readonly="readonly"
										autocomplete="off">
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="form-group">
									<label for="" class="control-label">Select Date</label> <input
										type="text" class="form-control" id="dateRange"
										autocomplete="off" name="daterange" required />
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="form-group">
									<label for="" class="control-label">Select Site</label> <select
										class="form-control selectpicker" id="site"
										title="Select Site" required>
										<option th:each="site : ${siteList}" th:value="${site.id}" th:text="${site.name}"></option>
										</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row form-gutter">
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="card" align="center">
						    <div class="card-header">Total Sales Amount</div>
						    <div class="card-body"><h1><span id="total-sales-amount" th:text="${totalSalesAmount}"></span></h1></div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="card" align="center">
						    <div class="card-header">Total Received Amount</div>
						    <div class="card-body"><h1><span id="total-received-amount" th:text="${totalReceivedAmount}"></span></h1></div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="card" align="center">
						    <div class="card-header">Total Pending Amount</div>
						    <div class="card-body"><h1><span id="total-pending-amount" th:text="${totalPendingAmount}"></span></h1></div> 
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="card" align="center">
						    <div class="card-header">Total Orders</div>
						    <div class="card-body"><h1><span id="total-orders" th:text="${totalOrders}"></span></h1></div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="card" align="center">
						    <div class="card-header">Total Delivery Challan's</div>
						    <div class="card-body"><h1><span id="total-delivery-challans" th:text="${totalDeliveryChallans}"></span></h1></div> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="card" align="center">
						    <div class="card-header">Total Discount Amount</div>
						    <div class="card-body"><h1><span id="total-discount-amount" th:text="${totalDiscountAmount}"></span></h1></div> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<div th:replace="/page/master/admin/customer::search-customer-modal"></div>
<script src="/js/master/reports/totalview.js"></script>