<!--==CONTENT WRAPPER==-->
<div class="content-wrapper center-lg">
	<!-- Content Header (Page header) -->
	<section class="content-header sticky-header">
		<div class="content-col">
			<h1>Place InOrder</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a class='ajaxLoad'
						id="/head/orderer/dashboard">Home</a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item active">Place InOrder</li>
				</ol>
			</nav>
		</div>
	</section>
	<!-- Main content -->
	<section class="main-content">
		<div class="row">
			<div class="col-12">
				<form action="">
					<div class="form-section">
						<div class="form-area">
							<div class="row">
								<div class="col-12">
									<div class="form-header">
										<div class="info-hd">Place InOrder</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-body">
										<div class="row form-gutter">
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Date Time</label> <input
														type="text" id="orderDate" name="orderDate"
														class="form-control">
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Select Material</label>
													<div class="input-group">
														<select title="Select Material"
															class="form-control selectpicker" name="material"
															id="material">
														</select>
														<div class="input-group-append">
															<span class="input-group-text" id="addMaterialBtn"
																data-toggle="modal" data-target="#addMaterialModal"><em
																class="fas fa-plus-circle"></em></span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Select Customer</label>
													<div class="input-group">
														<input type="text" id="customerName" class="form-control"
															required="required" autocomplete="off">
														<div class="input-group-append">
															<span class="input-group-text" id="newCustomerBtn"
																data-toggle="modal" data-target="#newCustomerModal"><em
																class="fas fa-user-plus"></em></span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Quantity in KG</label>
													<input type="text" id="qtyKg" class="form-control"
														required="required">
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Quantity in
														Brass</label> <input type="text" id="qtyBrass"
														class="form-control" required="required">
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Rate per Brass</label>
													<div class="input-group">
														<input type="text" id="rate" class="form-control"
															required="required">
														<div class="input-group-append">
															<select id="withGst" title="GST"
																class="form-control selectpicker">
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Select Vehicle</label>
													<div class="input-group">
														<select multiple class="form-control selectpicker"
															title="Select Vehicle" id="vechicle">
														</select>
														<div class="input-group-append">
															<span class="input-group-text" id="newVehicleBtn"
																data-toggle="modal" data-target="#addVehicleModal"><em
																class="fas fa-plus-circle"></em></span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<div class="input-group">
														<label for="" class="control-label">Sub Total</label> <input
															type="text" id="subTotal" class="form-control"
															placeholder="Sub Total" readonly="readonly"> <input
															type="text" id="gstAmt" class="form-control"
															placeholder="GST Amt" readonly="readonly">
														<div class="input-group-append">
															<span class="input-group-text" id="addToCartBtn">Add
																to cart &nbsp;<em class="fas fa-cart-plus"></em>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Total</label>
													<div class="input-group">
														<input type="text" id="total" class="form-control"
															readonly="readonly">
														<div class="input-group-append">
															<span class="input-group-text" id="rupeeSign"><em
																class="fas fa-rupee-sign"></em></span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Payment Mode</label> <select
														class="form-control selectpicker" id="payMode" name=""
														title="Payment Mode" required>
														<option value="CASH">CASH</option>
														<option value="ADVANCE">ADVANCE</option>
														<option value="ADVANCE_CASH">ADVANCE_CASH</option>
													</select>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Received Amount</label>
													<div class="input-group">
														<input type="text" id="receivedAmt" class="form-control">
														<!-- Checkbox -->
														&nbsp;&nbsp;
														<div class="form-check mb-2 mr-sm-2">
															<input class="form-check-input" type="checkbox"
																id="isPending"> <label class="form-check-label"
																for="inlineFormCheckMD2"> is Pending </label>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-4 col-md-6">
												<div class="form-group">
													<label for="" class="control-label">Remarks</label>
													<div class="input-group">
														<textarea id="remarks" class="form-control md-textarea"
															rows="1"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-footer">
						<a href="javascript:void(0);" class="btn btn-theme-secondary">Cancel</a>
						<button class="btn btn-theme-primary" type="submit">Save</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</div>