.transition, .login-wrapper .login-box .login-form .form-action .link,
	.login-wrapper .login-box .login-form .form-action .btn-log-in-up,
	.login-wrapper .footer .footer-links .link {
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
}

.box-shadow {
	box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
	-webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
	-moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
	-o-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}

.fadeIn, .login-wrapper .login-box .login-form {
	animation: fadeIn 1s ease;
	-moz-animation: fadeIn 1s ease;
	-webkit-animation: fadeIn 1s ease;
	-o-animation: fadeIn 1s ease;
}

.checkmark-transaction {
	-webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-moz-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-ms-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-o-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.user-select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slide-shine {
	animation: slide-shine 2s linear infinite;
	-moz-animation: slide-shine 2s linear infinite;
	-webkit-animation: slide-shine 2s linear infinite;
	-o-animation: slide-shine 2s linear infinite;
}

@
keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
-moz-keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
-webkit-keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
-o-keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
@
keyframes slide-shine {to { background-position:200%center;
	
}

}
@
-moz-keyframes slide-shine {to { background-position:200%center;
	
}

}
@
-webkit-keyframes slide-shine {to { background-position:200%center;
	
}

}
@
-o-keyframes slide-shine {to { background-position:200%center;
	
}

}
@
keyframes blend-anim { 0% {
	transform: scale(0.01, 0.01) rotateY(0);
	animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

50
%
{
transform
:
scale(
1
,
1
)
rotateY(
0
);
animation-timing-function
:
cubic-bezier(
0.39
,
0.575
,
0.565
,
1
);
}
100
%
{
transform
:
scale(
0.01
,
0.01
)
rotateY(
0
);
}
}
@
-o-keyframes blend-anim { 0% {
	-o-transform: scale(0.01, 0.01) rotateY(0);
	-o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

50
%
{
-o-transform
:
scale(
1
,
1
)
rotateY(
0
);
-o-animation-timing-function
:
cubic-bezier(
0.39
,
0.575
,
0.565
,
1
);
}
100
%
{
-o-transform
:
scale(
0.01
,
0.01
)
rotateY(
0
);
}
}
@
-ms-keyframes blend-anim { 0% {
	-ms-transform: scale(0.01, 0.01) rotateY(0);
	-ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

50
%
{
-ms-transform
:
scale(
1
,
1
)
rotateY(
0
);
-ms-animation-timing-function
:
cubic-bezier(
0.39
,
0.575
,
0.565
,
1
);
}
100
%
{
-ms-transform
:
scale(
0.01
,
0.01
)
rotateY(
0
);
}
}
@
-webkit-keyframes blend-anim { 0% {
	-webkit-transform: scale(0.01, 0.01) rotateY(0);
	-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

50
%
{
-webkit-transform
:
scale(
1
,
1
)
rotateY(
0
);
-webkit-animation-timing-function
:
cubic-bezier(
0.39
,
0.575
,
0.565
,
1
);
}
100
%
{
-webkit-transform
:
scale(
0.01
,
0.01
)
rotateY(
0
);
}
}
@
-moz-keyframes blend-anim { 0% {
	-moz-transform: scale(0.01, 0.01) rotateY(0);
	-moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

50
%
{
-moz-transform
:
scale(
1
,
1
)
rotateY(
0
);
-moz-animation-timing-function
:
cubic-bezier(
0.39
,
0.575
,
0.565
,
1
);
}
100
%
{
-moz-transform
:
scale(
0.01
,
0.01
)
rotateY(
0
);
}
}
@
keyframes cssload-part-anim { 0% {
	transform: translate3d(-10px, -10px, 0);
}

100
%
{
transform
:
translate3d(
10px
,
10px
,
0
);
}
}
@
-o-keyframes cssload-part-anim { 0% {
	-o-transform: translate3d(-10px, -10px, 0);
}

100
%
{
-o-transform
:
translate3d(
10px
,
10px
,
0
);
}
}
@
-ms-keyframes cssload-part-anim { 0% {
	-ms-transform: translate3d(-10px, -10px, 0);
}

100
%
{
-ms-transform
:
translate3d(
10px
,
10px
,
0
);
}
}
@
-webkit-keyframes cssload-part-anim { 0% {
	-webkit-transform: translate3d(-10px, -10px, 0);
}

100
%
{
-webkit-transform
:
translate3d(
10px
,
10px
,
0
);
}
}
@
-moz-keyframes cssload-part-anim { 0% {
	-moz-transform: translate3d(-10px, -10px, 0);
}

100
%
{
-moz-transform
:
translate3d(
10px
,
10px
,
0
);
}
}
html {
	position: relative;
	min-height: 100%;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.15;
}

.login-bg {
	background: url("../img/login-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.login-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	position: relative;
}

.login-wrapper .header {
	padding: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.login-wrapper .header .logo svg {
	width: 130px;
}

.login-wrapper .header .logo svg .primary-color {
	fill: #385aeb;
}

.login-wrapper .header .logo svg .secondary-color {
	fill: #fff;
}

.login-wrapper .header .new-acc-lnk {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	display: none;
}

.login-wrapper .header .new-acc-lnk.active {
	display: block;
}

.login-wrapper .header .new-acc-lnk .link {
	color: #fff;
	text-decoration: none;
	position: relative;
}

.login-wrapper .header .new-acc-lnk .link::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	top: 1rem;
	left: 0;
	border-bottom: 1px solid #fff;
	opacity: 0.5;
	width: 0%;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.login-wrapper .header .new-acc-lnk .link:hover {
	color: white;
}

.login-wrapper .header .new-acc-lnk .link:hover::after {
	width: 100%;
}

.login-wrapper .login-box {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.login-wrapper .login-box .login-info {
	padding: 40px;
	flex: 1;
}

.login-wrapper .login-box .login-info .title {
	text-align: left;
	font-size: 28px;
	color: #fff;
	font-weight: 400;
	line-height: 35px;
}

.login-wrapper .login-box .login-info .sub-title {
	text-align: left;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
	margin-top: 20px;
}

.login-wrapper .login-box .break-line {
	background-color: rgba(255, 255, 255, 0.1);
	height: 450px;
	width: 1px;
	flex: none;
	margin: 0 30px;
}

.login-wrapper .login-box .login-form {
	padding: 40px;
	flex: 1;
	display: none;
}

.login-wrapper .login-box .login-form.active {
	display: block;
}

.login-wrapper .login-box .login-form .head {
	color: #fff;
	text-align: center;
	margin: 0 0 30px 0;
	font-size: 22px;
}

.login-wrapper .login-box .login-form .form-group {
	margin-bottom: 30px;
}

.login-wrapper .login-box .login-form .form-group .form-conrol {
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 10px 25px;
	border-radius: 46px;
	height: 46px;
	width: 100%;
	background: transparent;
	font-size: 13px;
	outline: 0;
	color: #fff;
}

.login-wrapper .login-box .login-form .form-group .form-conrol::placeholder
	{
	color: rgba(255, 255, 255, 0.6);
}

.login-wrapper .login-box .login-form .form-group .form-conrol:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
	box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
}

.login-wrapper .login-box .login-form .form-action {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.login-wrapper .login-box .login-form .form-action .link {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	position: relative;
}

.login-wrapper .login-box .login-form .form-action .link::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	top: 1rem;
	left: 0;
	border-bottom: 1px solid #fff;
	opacity: 0.5;
	width: 0%;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.login-wrapper .login-box .login-form .form-action .link:hover {
	color: white;
}

.login-wrapper .login-box .login-form .form-action .link:hover::after {
	width: 100%;
}

.login-wrapper .login-box .login-form .form-action .btn-log-in-up {
	padding: 12px 40px;
	border-radius: 60px;
	color: #fff;
	background-color: #ff146c;
	font-size: 14px;
	text-decoration: none;
	font-weight: 400;
	outline: 0;
}

.login-wrapper .login-box .login-form .form-action .btn-log-in-up.btn-full
	{
	width: 100%;
	text-align: center;
}

.login-wrapper .login-box .login-form .form-action .btn-log-in-up:hover
	{
	background-color: #ce0a54;
}

.login-wrapper .login-box .login-form .form-action .btn-log-in-up:focus
	{
	-webkit-box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
	box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
}

.login-wrapper .login-box .login-form .or-section {
	position: relative;
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.login-wrapper .login-box .login-form .or-section .line {
	width: 100%;
	height: 1px;
	background: rgba(255, 255, 255, 0.1);
}

.login-wrapper .login-box .login-form .or-section .or {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding: 0 10px;
}

.login-wrapper .login-box .login-form .social-login {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.login-wrapper .login-box .login-form .social-login .soc-lnk {
	display: inline-block;
	padding: 12px 20px;
	border-radius: 60px;
	background-color: #1F2375;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.login-wrapper .login-box .login-form .social-login .soc-lnk:hover {
	background: #1F2164;
}

.login-wrapper .login-box .login-form .social-login .soc-lnk .social-ico
	{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 8px;
}

.login-wrapper .login-box .login-form .social-login .soc-lnk .social-ico .ico
	{
	fill: #fff;
}

.login-wrapper .footer {
	width: 100%;
	padding: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* -------------------------- */

.login-wrapper .footer .copyright .link {
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 15px;
	text-decoration: none;
	position: relative;
}

.login-wrapper .footer .copyright .link::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	top: 1rem;
	left: 0;
	border-bottom: 1px solid #fff;
	opacity: 0.5;
	width: 0%;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.login-wrapper .footer .copyright .link:hover {
	color: white;
}

.login-wrapper .footer .copyright .link:hover::after {
	width: 100%;
}

.login-wrapper .footer .copyright .link:last-child {
	margin-right: 0;
}

/* -------------------------- */

.login-wrapper .footer .footer-links .link {
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
	margin-right: 15px;
	text-decoration: none;
	position: relative;
}

.login-wrapper .footer .footer-links .link::after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	top: 1rem;
	left: 0;
	border-bottom: 1px solid #fff;
	opacity: 0.5;
	width: 0%;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.login-wrapper .footer .footer-links .link:hover {
	color: white;
}

.login-wrapper .footer .footer-links .link:hover::after {
	width: 100%;
}

.login-wrapper .footer .footer-links .link:last-child {
	margin-right: 0;
}

@media ( max-width : 767.98px) {
	.login-wrapper .header {
		padding: 20px;
		flex-direction: column;
	}
	.login-wrapper .header .new-acc-lnk {
		margin-top: 10px;
	}
	.login-wrapper .login-box {
		max-width: 100%;
		flex-direction: column;
		align-items: initial;
	}
	.login-wrapper .login-box .login-info {
		padding: 30px 20px;
		padding-top: 0px;
	}
	.login-wrapper .login-box .login-info .title {
		text-align: center;
	}
	.login-wrapper .login-box .login-info .sub-title {
		margin-top: 10px;
		text-align: center;
	}
	.login-wrapper .login-box .break-line {
		width: 100%;
		max-width: 90%;
		height: 1px;
	}
	.login-wrapper .login-box .login-form {
		padding: 30px 20px;
		padding-bottom: 15px;
	}
	.login-wrapper .login-box .login-form .form-group {
		margin-bottom: 20px;
	}
	.login-wrapper .login-box .login-form .head {
		margin-bottom: 15px;
	}
	.login-wrapper .login-box .login-form .form-action {
		flex-direction: column;
	}
	.login-wrapper .login-box .login-form .form-action .btn-log-in-up {
		order: 1;
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.login-wrapper .login-box .login-form .form-action .link {
		order: 2;
	}
	.login-wrapper .login-box .login-form .social-login {
		margin-top: 0;
		display: block;
	}
	.login-wrapper .login-box .login-form .social-login .soc-lnk {
		min-width: 180px;
		margin-bottom: 15px;
		margin-right: 15px;
	}
	.login-wrapper .footer {
		padding: 20px;
		padding-top: 0;
		flex-direction: column;
	}
	.login-wrapper .footer .copyright {
		margin-bottom: 10px;
	}
}

@media ( max-width : 991.98px) {
	.login-wrapper .header {
		padding: 30px;
	}
	.login-wrapper .login-box {
		display: block;
	}
	.login-wrapper .login-box .login-info {
		padding-left: 30px;
		padding-right: 30px;
	}
	.login-wrapper .login-box .break-line {
		width: 90%;
		height: 1px;
	}
	.login-wrapper .login-box .login-info .title, .login-wrapper .login-box .login-info .sub-title
		{
		text-align: center;
	}
}

/*# sourceMappingURL=login.css.map */