<!--==CONTENT WRAPPER==-->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header sticky-header">
		<div class="content-col">
			<!-- <h1>Dashboard</h1> -->
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">Dashboard</li>
				</ol>
			</nav>
		</div>
	</section>
	<!-- Main content -->
	<section class="main-content">
		<div class="row form-gutter">
			<div class="col-lg-3 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="container-fluid"
							style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<div class="row form-gutter">
								<div class="col-4" style="background-color: #fc9107 !important;">
									<em class="fas fa-coins fa-2x"
										style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;"></em>
								</div>
								<div class="col-8" align="center">
									<div
										style="font-size: 18px; padding-top: 12px; padding-bottom: 12px; color: #fc9107 !important;">
										SALES <br> <span
											style="font-size: 14px; color: #6c757d !important;"
											id="total-sales-amount"><em class="fas fa-rupee-sign"></em>&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="container-fluid"
							style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<div class="row form-gutter">
								<div class="col-4" style="background-color: #58b05c !important;">
									<em class="fas fa-donate fa-2x"
										style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;"></em>
								</div>
								<div class="col-8" align="center">
									<div
										style="font-size: 18px; padding-top: 12px; padding-bottom: 12px; color: #58b05c !important;">
										RECEIVED <br> <span
											style="font-size: 14px; color: #6c757d !important;"
											id="total-received-amount"><em class="fas fa-rupee-sign"></em>&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="container-fluid"
							style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<div class="row form-gutter">
								<div class="col-4" style="background-color: #1cbfd3 !important;">
									<em class="fas fa-stopwatch fa-2x"
										style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;"></em>
								</div>
								<div class="col-8" align="center">
									<div
										style="font-size: 18px; padding-top: 12px; padding-bottom: 12px; color: #1cbfd3 !important;">
										PENDING <br> <span
											style="font-size: 14px; color: #6c757d !important;"
											id="total-pending-amount"><em class="fas fa-rupee-sign"></em>&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="container-fluid"
							style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
							<div class="row form-gutter">
								<div class="col-4" style="background-color: #9027ab !important;">
									<em class="fas fa-cart-plus fa-2x"
										style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;"></em>
								</div>
								<div class="col-8" align="center">
									<div
										style="font-size: 18px; padding-top: 12px; padding-bottom: 12px; color: #9027ab !important;">
										ORDERS <br> <span
											style="font-size: 14px; color: #6c757d !important;"
											id="total-orders"><em class="fas fa-chart-line"></em>&nbsp;</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>
		<div class="row form-gutter">
			<div class="col-lg-8 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="form-area">
							<div class="row form-gutter">
								<div class="col-12">
									<div class="form-header">
										<div class="info-hd">Todays Report</div>
									</div>
								</div>
							</div>
							<div class="row form-gutter">
								<div class="col-12">
									<div class="form-body">
										<div id="container"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="form-group">
					<div class="form-section">
						<div class="form-area">
							<div class="row form-gutter">
								<div class="col-12">
									<div class="form-header">
										<div class="info-hd">Updated Rates*</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-body">
										<table class="table table-hover" id="materialRateTbl">
											<thead>
												<tr>
													<th scope="col">Material</th>
													<th scope="col">Rates</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script src="/js/master/dashboard.js"></script>