<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Error Page</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<span th:text="${errorStatus}"></span>
	<br>
	<br>
	<span th:text="${errorText}"></span>
</body>
</html>