<html lang="en" xmlns:th="https://thymeleaf.org" th:fragment="header">
<div class="mobile-tab-toggler-click">
	<span> </span>
</div>
<div class="brand-logo-mobile-tab">
	<svg viewbox="0 0 2776 479">
        <path class="primary-color"
			d="M0 139l0 14c0,45 21,80 43,102 19,18 47,32 73,35 11,2 23,2 35,2l217 0c16,0 19,2 28,9 16,13 16,54 -1,67 -9,7 -14,10 -30,10l-365 0 0 98c0,2 1,3 3,3l369 0c35,0 69,-16 93,-40 3,-3 5,-5 8,-8l19 -30c14,-27 13,-49 13,-79 0,-22 -9,-50 -21,-68 -11,-17 -26,-34 -45,-44 -34,-19 -48,-20 -88,-20l-214 0c-7,0 -9,0 -15,-2 -4,-1 -9,-4 -11,-7 -15,-12 -12,-29 -12,-46 0,-19 17,-34 39,-34l455 0c5,0 3,13 3,23 0,9 -2,23 3,23l96 0c2,0 3,-1 3,-3l0 -91c0,-30 -24,-53 -49,-53l-516 0c-15,0 -41,5 -55,13 -18,10 -22,12 -39,29 -7,6 -17,20 -22,29 -2,4 -3,7 -5,11 -8,16 -12,39 -12,57z">
        </path>
        <path class="primary-color"
			d="M787 3l0 98 150 0c39,0 90,2 127,1 7,0 12,-1 20,3 22,12 20,32 20,50 0,18 -15,35 -38,35 -123,0 -247,0 -370,0 -30,0 -69,-5 -87,16 -1,1 -3,4 -4,5 -5,7 -9,18 -9,28l0 193c0,13 8,27 15,33 8,7 22,14 36,14l95 0 0 -99c0,-3 0,-3 -2,-3l-42 0 0 -85 359 0c54,0 98,-21 125,-66 20,-33 20,-57 20,-94 0,-30 -14,-60 -32,-83 -2,-4 -5,-6 -8,-9 -19,-23 -61,-40 -93,-40l-279 0c-2,0 -3,1 -3,3z">
        </path>
        <path class="secondary-color"
			d="M1468 157c21,0 38,4 53,14 14,10 25,23 31,39l0 -50 61 0 0 242 -61 0 0 -51c-6,16 -17,30 -31,39 -15,10 -32,15 -53,15 -20,0 -39,-5 -55,-15 -16,-10 -29,-24 -38,-43 -9,-19 -14,-41 -14,-66 0,-26 5,-48 14,-66 9,-19 22,-34 38,-44 16,-9 35,-14 55,-14zm19 53c-19,0 -34,7 -46,19 -12,13 -17,30 -17,52 0,22 5,39 17,51 12,13 27,19 46,19 19,0 35,-7 47,-19 12,-13 18,-30 18,-51 0,-22 -6,-39 -18,-52 -12,-12 -28,-19 -47,-19z">
        </path>
        <path class="secondary-color"
			d="M1764 157c20,0 38,4 52,14 14,10 25,23 31,39l0 -132 62 0 0 324 -62 0 0 -51c-6,16 -17,30 -31,39 -14,10 -32,15 -52,15 -21,0 -39,-5 -55,-15 -17,-10 -29,-24 -39,-43 -9,-19 -13,-41 -13,-66 0,-26 4,-48 13,-66 10,-19 22,-34 39,-44 16,-9 34,-14 55,-14zm19 53c-19,0 -35,7 -46,19 -12,13 -18,30 -18,52 0,22 6,39 18,51 11,13 27,19 46,19 19,0 34,-7 46,-19 12,-13 18,-30 18,-51 0,-22 -6,-39 -18,-52 -12,-12 -27,-19 -46,-19z"
			id="1">
        </path>
        <path class="secondary-color"
			d="M2273 156c29,0 52,9 69,27 17,19 26,45 26,78l0 141 -61 0 0 -134c0,-19 -5,-33 -14,-43 -10,-10 -23,-15 -40,-15 -17,0 -30,5 -41,16 -10,11 -15,27 -15,47l0 129 -61 0 0 -134c0,-19 -5,-33 -14,-43 -10,-10 -23,-15 -39,-15 -18,0 -31,5 -42,16 -10,11 -15,27 -15,47l0 129 -62 0 0 -242 62 0 0 46c7,-16 17,-28 31,-37 13,-9 29,-13 48,-13 19,0 36,5 51,14 14,9 25,23 32,40 8,-16 19,-29 34,-39 15,-10 32,-15 51,-15z"
			id="2">
        </path>
        <path class="secondary-color"
			d="M2415 90c0,-10 4,-18 11,-24 7,-6 16,-10 27,-10 12,0 21,4 28,10 7,6 10,14 10,24 0,10 -3,18 -10,24 -7,6 -16,9 -28,9 -11,0 -20,-3 -27,-9 -7,-6 -11,-14 -11,-24zm69 70l0 242 -62 0 0 -242 62 0z"
			id="3">
        </path>
        <path class="secondary-color"
			d="M2684 156c28,0 50,9 67,28 17,18 25,44 25,77l0 141 -61 0 0 -134c0,-19 -5,-34 -15,-45 -10,-10 -24,-16 -41,-16 -17,0 -31,6 -42,17 -10,12 -16,28 -16,49l0 129 -61 0 0 -242 61 0 0 48c7,-16 17,-29 32,-38 15,-9 32,-14 51,-14z"
			id="4">
        </path>
    </svg>
</div>
<div class="toggle-header-links-clk">
	<span class="dot-menu-ico"> <svg viewbox="0 0 512 512">
            <g>
                <circle cx="256" cy="256" r="64">
                </circle>
                <circle cx="256" cy="448" r="64">
                </circle>
                <circle cx="256" cy="64" r="64">
                </circle>
            </g>
        </svg>
	</span>
</div>
<!-- <div class="hdr-search">
	<span class="srch-ico"> <svg viewBox="0 0 512 512">
            <path
				d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z">
            </path>
        </svg>
	</span> <input placeholder="Search" type="text">

</div> -->
<div class="header-links">
	<div class="notification-dropdown">
		<ul class="notification-list">
			<li><a class="noti-item" href="#/tables/basic-table.html"> <span
					class="noti-name"> New customer is registred </span> <span
					class="noti-time"> <i class="far fa-clock"></i> 2 hrs ago
				</span>
			</a></li>
			<li><a class="noti-item" href="javascript:void(0);"> <span
					class="noti-name"> New customer is registred </span> <span
					class="noti-time"> <i class="far fa-clock"></i> 2 hrs ago
				</span>
			</a></li>
		</ul>
	</div>
	<div class="user-dropdown">
		<div class="user-details">
			<div class="user-name">
				<span th:text="${session.userDto.getName()}"></span>
			</div>
			<div class="user-info">
				<div class="data-row">
					<strong> <i class="far fa-copy"></i> User ID :
					</strong> <span> <span th:text="${session.userDto.getUsername()}"></span>
					</span>
				</div>
				<div class="data-row">
					<strong> <i class="far fa-envelope"></i> Logged in as :
					</strong> <span th:text="${session.userDto.getEmail()}"></span>
				</div>
			</div>
			<div class="user-action">
				<a class="action-btn" href="javascript:void(0);"
					id="openChangePassModal"> Change Password </a> <a
					class="action-btn" href="/logout"> Log Out </a>
			</div>
		</div>
	</div>
	<a class="hdr-lnk notification-menu-clk" href="javascript:void(0)">
		<span class="lnk-ico active"> <svg viewbox="0 0 512 512">
                <path class="fil0"
					d="M504 366c-60,-60 -69,-91 -69,-187 0,-99 -80,-179 -179,-179 -99,0 -179,80 -179,179 0,52 -2,71 -9,95 -9,30 -27,58 -60,92 -17,16 -5,44 18,44l142 0 -2 12c0,50 41,90 90,90 49,0 90,-40 90,-90l-2 -12 142 0c23,0 35,-28 18,-44zm-248 120c-35,0 -64,-28 -64,-64l1 -12 126 0 1 12c0,36 -29,64 -64,64zm-230 -102c76,-77 76,-128 76,-205 0,-85 69,-153 154,-153 85,0 154,68 154,153 0,77 0,128 76,205l-460 0z">
                </path>
            </svg>
	</span> <span class="lnk-name"> Notifications </span>
	</a> <a class="hdr-lnk user-menu-clk" href="javascript:void(0)"> <span
		class="user-logo" th:text="${session.userDto.getInitials()}"></span> <span
		class="lnk-name" th:text="${session.userDto.getName()}"></span>
	</a>
</div>

<!--------------==Change Password==-------------->
<div class="modal fade" id="changePasswordModal">
	<div class="modal-dialog modal-dialog-centered modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-title">Change Password</div>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row form-gutter">
					<div class="col-md-6">
						<div class="form-group">
							<label for="" class="control-label">User Id</label> <input
								type="text" id="userId" class="form-control"
								th:value="${session.userDto.getUsername()}">
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="" class="control-label">Password</label> <input
								type="password" required="required" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-theme-secondary"
					data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-theme-primary"
					id="changePassword" data-dismiss="modal">Change</button>
			</div>
		</div>
	</div>
</div>
</html>