<!--==CONTENT WRAPPER==-->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header sticky-header">
		<div class="content-col">
			<h1>Privacy Policy</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">Privacy Policy</li>
				</ol>
			</nav>
		</div>
	</section>
	<!-- Main content -->
	<section class="main-content">
		<div class="row">
			<div class="col-12">
				<div class="details-content-sec">
					<div class="details-row">
						<div class="dtls-header">
							<div class="row">
								<div class="col">
									<div class="hdr-title">Privacy Policy</div>
								</div>
							</div>
						</div>
						<div class="dtls-body">
							<div class="dtls-tbl-sec">
								<div class="row">
									<div class="col-12">
										<p>
											<span style="font-size: 14px;">Eighteen Technologies and
												its affiliates and subsidiaries (collectively,
												"Eighteen Technologies," "we," "our," or "us") are committed to
												protecting your privacy. We have prepared this Privacy
												Policy to describe our practices regarding the information
												processed by our products and any other Eighteen Technologies products
												that link to this Privacy Policy (collectively "Products").</span>
										</p>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Data You Provide To Us. - </strong>
										<ul style="font-size: 14px;">
											<li>We collect information from you, such as first and
												last name, gender, e-mail and mailing addresses,
												professional title, company name, and password when you
												create an account to log in to our network.</li>
											<li>When you order Services on our Site or Apps, you
												provide us or our third party payment processor with
												information necessary to complete the transaction, which may
												include your name, credit card information, billing
												information, and shipping information.</li>
											<li>We also may retain information on your behalf, such
												as files and messages that you store using your account. If
												you provide us feedback or contact us via e-mail, we will
												collect your name and e-mail address, as well as any other
												content included in the e-mail.</li>
											<li>When you participate in one of our surveys, we may
												collect additional profile information. We also collect
												other types of personal information and demographic
												information that you provide to us voluntarily.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Cookies - </strong>
										<ul style="font-size: 14px;">
											<li>Cookies are small pieces of information that a
												website sends to your computer's hard drive while you are
												viewing a website.</li>
											<li>We may use both session cookies (which expire once
												you close your web browser) and persistent cookies (which
												stay on your computer until you delete them) to provide you
												with a more personal and interactive experience on our Site.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Web Beacons - </strong>
										<ul style="font-size: 14px;">
											<li>Web Beacons are digital images we use to log
												information on our Site and in our emails.</li>
											<li>We use web beacons to manage cookies, count visits,
												and to learn what marketing works and what does not.</li>
											<li>We also use web beacons to tell if you open or act
												on our emails.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Analytics - </strong>
										<ul style="font-size: 14px;">
											<li>We use analytics services to help analyze how users
												use the Site and Apps.</li>
											<li>These services use cookies and scripts to collect
												and store information such as how users interact with our
												Apps, errors users encounter when using our apps, device
												identifiers, how often users visit the Site, what pages they
												visit, and what other sites they used prior to coming to the
												Site.</li>
											<li>We use the information we get from Google Analytics
												only to improve our Site, our Apps, and our Services.</li>
											<li>We do not tie the information gathered using third
												party analytics to your personally identifiable information.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Use of Your Data. - </strong>
										<ul style="font-size: 14px;">
											<li>In general, personal information you submit to us is
												used either to respond to requests that you make, or to aid
												us in serving you better.</li>
											<li>Eighteen Technologies uses your personal information in the
												following ways: to create and maintain your account; to
												identify you as a user in our system; to operate, maintain,
												and improve our Site, Apps, and Services; to personalize and
												improve your experience; to send you administrative e-mail;
												to respond to your comments or inquiries; to protect,
												investigate, and deter against fraudulent, unauthorized, or
												illegal activity; and to make telephone calls to you, from
												time to time, as a part of secondary fraud protection or to
												solicit your feedback with your permission.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Disclosure Of Your Personal Information. - </strong>
										<ul style="font-size: 14px;">
											<li>We will share your personal information with third
												parties only in the ways that are described in this privacy
												policy or with your consent.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Affiliates - </strong>
										<ul style="font-size: 14px;">
											<li>Although we currently do not have a parent company,
												any subsidiaries, joint ventures, or other companies under a
												common control (collectively, "AFFILIATES"), we may in the
												future.</li>
											<li>We may share some or all of your information with
												these Affiliates, in which case we will require our
												Affiliates to honor this Privacy Policy.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Third Party Service Providers. - </strong>
										<ul style="font-size: 14px;">
											<li>We may share your personal information with third
												party service providers for the sole purpose of providing
												you with the Services that we offer you through our Site.
												For example, we may share data with service providers who
												host our websites or provide email services on our behalf.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Other Disclosures. - </strong>
										<ul style="font-size: 14px;">
											<li>Eighteen Technologies may disclose information about you if it
												believes such disclosure is necessary to (a) comply with
												laws or to respond to lawful requests and legal process; or
												(b) protect or defend the rights, safety, or property of
												Eighteen Technologies, users of the Services, or any person including
												to enforce our agreements, policies, and terms of use or (c)
												in an emergency to protect the personal safety of any
												person.</li>
											<li>We may also share information about you in
												connection with or during negotiation of any merger,
												financing, acquisition, bankruptcy, dissolution, transaction
												or proceeding involving sale, transfer, divestiture or
												disclosure of all or a portion of our business or assets to
												another company.</li>
											<li>In the event that information is shared in this
												manner, notice will be posted on our Site. We may also use
												de-identified and/or aggregated data for our own use.</li>
											<li>We do not use information collected through the
												Products for advertising or marketing purposes.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Changes To Personal Information. - </strong>
										<ul style="font-size: 14px;">
											<li>You may change some of your personal information in
												your account by editing your profile within the Service.</li>
											<li>You may also request changes or deletions by
												e-mailing us at the e-mail address set forth below.</li>
											<li>We will respond to your request, when permitted by
												law, within 30 days. We may be unable to delete information
												that resides in our archives.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Contact Information. - </strong>
										<ul style="font-size: 14px;">
											<li>Eighteen Technologies welcomes your comments or questions
												regarding this Privacy Policy.</li>
											<li>Please e-mail us at privacy@eighteentechnologies.com or
												contact us at the following address or phone number</li>
											<li>We will respond to your request, when permitted by
												law, within 30 days. We may be unable to delete information
												that resides in our archives.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Changes To This Privacy Policy. - </strong>
										<ul style="font-size: 14px;">
											<li>Eighteen Technologies may change this Privacy Policy from time
												to time. If we make any changes to this Policy, we will
												change the "Last Updated" date above</li>
											<li>If such changes are material, a notice of the
												changes will be posted along with the revised Privacy
												Policy.</li>
											<li>We encourage you to visit this page from time to
												time for the latest on our privacy practices.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>