<!--==CONTENT WRAPPER==-->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header sticky-header">
		<div class="content-col">
			<h1>Terms &amp; Conditions</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Home</li>
					<li class="breadcrumb-item">Terms &amp; Conditions</li>
				</ol>
			</nav>
		</div>
	</section>
	<!-- Main content -->
	<section class="main-content">
		<div class="row">
			<div class="col-12">
				<div class="details-content-sec">
					<div class="details-row">
						<div class="dtls-header">
							<div class="row">
								<div class="col">
									<div class="hdr-title">Terms &amp; Conditions</div>
								</div>
							</div>
						</div>
						<div class="dtls-body">
							<div class="dtls-tbl-sec">
								<div class="row">
									<div class="col-12">
										<p>
											<span style="font-size: 14px;">"This is an agreement
												whereby Eighteen Technologies Pvt. Ltd. will provide
												Software Services to "THE CUSTOMER". By the use of Eighteen
												Technologies Pvt. Ltd. IT Services, the customer hereby
												agrees to the terms and conditions set forth below which can
												joins our Service Contract also documented at
												www.eighteentechnologies.com. This Agreement will be
												automatically renewed at the end of the initial term for the
												same period as the initial term unless cannot be continued
												because of circumstances warranting the discontinuing or
												termination of the agreement set out within this agreement
												itself and references in our Service Contract.</span>
										</p>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Privacy Policy - </strong>
										<ul style="font-size: 14px;">
											<li>In acquiring our service, the customer will have to
												complete forms for delivery of service. The customer is
												required to give valid contact information (such as name and
												mailing address, email address).</li>
											<li>We use this information in a manner of interest of
												the account and the service acquired. We also require a
												valid user's I.D/ Passport / Drivers Permit Number to
												provide validity of this information being submitted.
												Eighteen Technologies Pvt. Ltd. places a high value on
												privacy.</li>
											<li>You may not copy (except in the course of loading or
												installing) or modify the Software.</li>
											<li>You may not transfer, sublicense, lease, lend, rent
												or otherwise distribute the Software to any third party.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Software Development - </strong>
										<ul style="font-size: 14px;">
											<li>Eighteen Technologies Pvt. Ltd will provide Software
												services for personal, commercial companies. By Default all
												rights, including but not limited to, intellectual property
												rights, trademarks, source codes and copyrights, shall fully
												remain with Eighteen Technologies Pvt. Ltd.</li>
											<li>Eighteen Technologies Pvt. Ltd. has complete rights
												to sell or not to sell these Rights until unless agreed upon
												through License Agreement.</li>
											<li>We provide first 6 days free service after that will
												charge. For Future New requirements in Software, We will
												charge based on your new requirements. The post-installation
												services will include the fixing of bugs/errors in the
												software concerned which will be free of cost.</li>
											<li>The post-installation services will include the
												amendments or enhancements in the software concerned which
												will be charged as per the requirements of amendments or
												enhancements.</li>
											<li>The post-installation services will include the
												back-up process of database. In other words, the
												responsibility of running the back-up process of Database is
												of the ours.</li>
											<li>Any kind of corruption or loss of data due to
												database corruption/power failures/network failures will not
												be guaranteed to be restored. Taxes should be extra (5%
												VAT/CST) In case of Customized Software Development, 14%
												Service Tax would be extra.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Specials - </strong>
										<ul style="font-size: 14px;">
											<li>Where by the customer has obtained services from
												Eighteen Technologies Pvt. Ltd through any promotion,
												special or incentive advertised, the customer By signing
												this contract agrees to the service for at least one year.</li>
											<li>Should the customer decide to terminate this
												agreement/service before the 1-Year waiting period, and then
												the full service charge(s) is payable where by before the
												customer would have benefited.</li>
											<li>These charges become due and must be paid before
												termination is effective.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Customer Responsibility for Payment and Charges - </strong>
										<ul style="font-size: 14px;">
											<li>The customer agrees to pay Eighteen Technologies
												Pvt. Ltd 50% Advance Payment.</li>
											<li>30% on the date the Software is deployed. (Payment
												will be in the mode of cash or cheque drawn in favour of <b>"Eighteen
													Technologies Pvt. Ltd."</b>)
											</li>
											<li>20% within one (01) month of deployment.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Responsibility for Account Use - </strong>
										<ul style="font-size: 14px;">
											<li>The customer is responsible for all use of their
												account(s), validity of information and confidentiality of
												The accounts "sensitive information".</li>
											<li>Eighteen Technologies Pvt. Ltd. Services May only be
												used for purposes as agreed to and as outlined by our
												acceptable use terms and guidelines.</li>
											<li>The customer agrees to and hold harmless Eighteen
												Technologies Pvt. Ltd. from any claims resulting from the
												use/misuse of Eighteen Technologies Pvt. Ltd.</li>
											<li>Services where there has been a violation of our
												terms and guidelines for acceptable use of service.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Term and Termination - </strong>
										<ul style="font-size: 14px;">
											<li>The Software licenses granted remain in effect for
												the term specified in the Order, unless earlier terminated
												under this Agreement.</li>
											<li>If this is a Commercial term license, at the end of
												each term, the Software licenses will automatically renew
												for an additional term, unless either party provides thirty
												(30) days prior written notice of non-renewal.</li>
											<li>The licenses granted under this Agreement will
												automatically terminate, with or without notice from
												Eighteen Technologies Pvt. Ltd., if you breach any term of
												this Agreement.</li>
											<li>Upon termination, you must at Eighteen's option
												either promptly destroy or return to Eighteen Technologies
												Pvt. Ltd. all copies of the Software in your possession or
												control. Sections 2-4 and 8-12 will survive any termination
												of the Agreement.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Termination by Customer's Request - </strong>
										<ul style="font-size: 14px;">
											<li>The Customer may terminate the service by notifying
												Eighteen Technologies Pvt. Ltd in writing of their wish to
												terminate the account giving to Eighteen Technologies Pvt.
												Ltd at least 30 days notice.</li>
											<li>All fee due become payable from the date of
												notification and must be cleared before termination date is
												effective.</li>
											<li>This notice does not relieve the customer from any
												liability that has been incurred from the date of
												termination notice whether billed or not billed.</li>
											<li>In any case of Cancellation of Order, no Refunds of
												Advance Amount will be made.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Indeminities - </strong>
										<ul style="font-size: 14px;">
											<li>While Eighteen Technologies Pvt. Ltd. has been
												assured by Host provider, the highest guarantee with respect
												to standard of service and security.</li>
											<li>Eighteen Technologies Pvt. Ltd. assumes no
												responsibility for the unauthorized access by the customer
												or anonymous users to information of participating networks
												"hacking", or any virus or harmful programs which may be
												introduced by the customer or anonymous user, or for the use
												of information received via the service through use/ misuse
												of the service.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Limitation of Liability - </strong>
										<ul style="font-size: 14px;">
											<li>Eighteen Technologies, including its officers,
												directors, shareholders, employees, sub-contractors and
												agents will not be liable, to the maximum extent permitted
												by the applicable law, for any direct, indirect, incidental
												or consequential damage, or any other damage, and loss
												(including loss of profit and loss of data), costs, expenses
												and payments, either in tort, contractual, or in any other
												form of liability, arising from, or in connection with the
												use of, or the inability to use the website, the content,
												the services thereunder or any communications, interactions,
												dealings, engagements and transactions with others on or
												through the platform, or from any failure, error, or
												breakdown in the function of the website and the services,
												or from any fault, or error made by our staff or anyone
												acting on its behalf, or from your reliance on posted
												content on the website, or from any communication with the
												website, or with other users on or through the website.</li>
											<li>You acknowledge and agree that the use of the
												website, its content and any services offered there under,
												is entirely, or to the maximum extent permitted by the
												applicable law, at your own responsibility.</li>
										</ul>

										<br>
										<p>
											<strong style="color: #2e49b2; font-size: 15px;">
												Effect of this Agreement - </strong>
										<ul style="font-size: 14px;">
											<li>This agreement (which shall include the current and
												future Schedules here to) represents the complete agreement
												can joining our service Agreement located at
												www.Eighteeninfo.com concerning this license between the
												parties and supersedes all prior agreements and
												representations between them.</li>
											<li>The acceptance of any purchase order placed by the
												customer is expressly made conditional on the customer
												assent to the terms set forth herein which represents full
												legitimacy to our Service Contract, and not those contained
												in your purchase order.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>