/*==ALERT==*/
.alert {
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	max-width: 600px;
	margin: 0 auto;
	z-index: 1070;
	border-radius: 4px;
	border: 0;
	padding: 10px;
	padding-left: 15px;
	padding-right: 40px;
	@extend .transition;

	&.active {
		top: 10px;
	}

	&.alert-success {
		color: #155724;
		background-color: #d4edda;
	}

	&.alert-warning {
		color: #856404;
		background-color: #fff3cd;
	}

	&.alert-info {
		color: #0c5460;
		background-color: #d1ecf1;
	}

	.close {
		position: absolute;
		top: 6px;
		right: 10px;
		padding: 0;
		color: inherit;
	}

}
