//fadeIn Animation

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

@-o-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

//text-slide-shine

@keyframes slide-shine {
	to {
		background-position: 200% center;
	}

}

@-moz-keyframes slide-shine {
	to {
		background-position: 200% center;
	}

}

@-webkit-keyframes slide-shine {
	to {
		background-position: 200% center;
	}

}

@-o-keyframes slide-shine {
	to {
		background-position: 200% center;
	}

}

//loader-blend-anim

@keyframes blend-anim {
	0% {
		transform: scale(0.01, 0.01) rotateY(0);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}

	50% {
		transform: scale(1, 1) rotateY(0);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}

	100% {
		transform: scale(0.01, 0.01) rotateY(0);
	}

}

@-o-keyframes blend-anim {
	0% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}

	50% {
		-o-transform: scale(1, 1) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}

	100% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
	}

}

@-ms-keyframes blend-anim {
	0% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}

	50% {
		-ms-transform: scale(1, 1) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}

	100% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
	}

}

@-webkit-keyframes blend-anim {
	0% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}

	50% {
		-webkit-transform: scale(1, 1) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}

	100% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
	}

}

@-moz-keyframes blend-anim {
	0% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}

	50% {
		-moz-transform: scale(1, 1) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}

	100% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
	}

}

//cssload-part-anim

@keyframes cssload-part-anim {
	0% {
		transform: translate3d(-10px, -10px, 0);
	}

	100% {
		transform: translate3d(10px, 10px, 0);
	}

}

@-o-keyframes cssload-part-anim {
	0% {
		-o-transform: translate3d(-10px, -10px, 0);
	}

	100% {
		-o-transform: translate3d(10px, 10px, 0);
	}

}

@-ms-keyframes cssload-part-anim {
	0% {
		-ms-transform: translate3d(-10px, -10px, 0);
	}

	100% {
		-ms-transform: translate3d(10px, 10px, 0);
	}

}

@-webkit-keyframes cssload-part-anim {
	0% {
		-webkit-transform: translate3d(-10px, -10px, 0);
	}

	100% {
		-webkit-transform: translate3d(10px, 10px, 0);
	}

}

@-moz-keyframes cssload-part-anim {
	0% {
		-moz-transform: translate3d(-10px, -10px, 0);
	}

	100% {
		-moz-transform: translate3d(10px, 10px, 0);
	}

}
