/*========== Button Primary, Secondary, danger ===============*/
.btn-theme-danger,
.btn-theme-primary,
.btn-theme-secondary {
	font-size: 14px;
	border-radius: 4px;
	padding: 9px 12px;
	min-width: 100px;
	-webkit-transition-duration: 0.4s;    /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	position: relative;

	&::before {
		content: "";
		background: rgba($white-color, 0.5);
		display: block;
		position: absolute;
		height: 150px;
		width: 150px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 150px;
		z-index: -1;
		margin: auto;
		opacity: 0;
		transition: all 0.8s;
	}

	&:active {
		&::before {
			height: 0;
			width: 0;
			opacity: 1;
			transition: 0s;
			z-index: 0;
		}

	}

}

.btn-theme-primary {
	color: $white-color;
	border: 1px solid rgba($white-color, 0.1);
	background-color: $btn-primary-color;

	&:hover,
	&:focus {
		color: $white-color;
		background: rgba($btn-primary-color, 0.8);
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba($btn-primary-color, 0.2);
	}
}

.btn-theme-secondary {
	border: 1px solid $btn-secondary-border-color;
	color: $content-color;
	background-color: $white-color;

	&:hover,
	&:focus {
		color: $content-color;
		background: rgba($white-color, 0.8);
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba($white-color, 0.2);
	}
}

.btn-theme-danger {
	color: $white-color;
	border: 1px solid rgba($white-color, 0.1);
	background-color: $btn-danger-color;

	&:hover,
	&:focus {
		color: $white-color;
		background: rgba($btn-danger-color, 0.8);
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba($btn-danger-color, 0.2);
	}
}

.btn-link {
	color: $link-color;
	background-color: transparent;
}
