html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: $font-body;
	font-size: 13px;
	font-weight: 400;
	color: $body-color;
	background-color: $body-bg;
	overflow-y: scroll;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-heading;
}

strong {
	font-weight: 600;
}

a {
	outline: 0;
	text-decoration: none;
	border: 0;
	color: $link-color;

	&:hover {
		text-decoration: none;
	}

}

/*==MANDATORY==*/
.optional {
	position: relative;

	&::after {
		content: '(Optional Field)';
		color: #6e808b;
		position: absolute;
		margin-left: 10px;
		top: 0;
		font-weight: 400;
		font-style: italic;
		font-size: 12px;
	}

}
