.content-header {
	position: relative;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 2;

	@media (max-width:$max-md) {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	@media (max-width:$max-sm) {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.content-col {
		&:nth-child(2) {
			text-align: right;
		}

		> h1 {
			font-size: 26px;
			font-weight: 400;
			margin: 0;
			margin-bottom: 10px;
			color: $white-color;

			@media (max-width:$max-lg) {
				font-size: 22px;
			}

		}

		nav {
			> ol.breadcrumb {
				padding: 0;
				background: none;
				margin: 0;

				li.breadcrumb-item {
					font-size: 13px;
					color: rgba($white-color, 0.5);

					a {
						color: rgba($white-color, 0.5);
					}

					&.active {
						color: rgba($white-color, 1);
						font-weight: 600;
					}

					+ .breadcrumb-item::before {
						color: rgba($white-color, 0.5);
					}

				}

			}

		}

		.btn {
			min-width: 100px;
			font-size: 16px;
			padding: 12px 25px;

			@media (max-width:$max-lg) {
				padding: 6px 15px;
			}

			@media (max-width:$max-sm) {
				margin-top: 15px;
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

		}

		.btn-link {
			font-size: 16px;
			color: $primary-color;
			text-decoration: none;
			display: inline-flex;
			align-items: center;
			@extend .transition;

			&:hover {
				color: $white-color;
				text-decoration: none;
			}

			i {
				margin-right: 15px;
			}

			@media (max-width:$max-md) {
				font-size: 14px;
				margin-top: 10px;
			}

		}

	}

	&.sticky-header {
		position: sticky;
		top: -100%;
		padding: 0;
		@extend .transition;

		+ .main-content {
			position: relative;
			z-index: 3;
		}

		&.active {
			background: $white-color;
			-webkit-box-shadow: 0 0 15px #c9cbd2;
			box-shadow: 0 0 15px #c9cbd2;
			z-index: 6;
			padding: 15px;
			top: 75px;
			margin: auto;
			@extend .fadeIn;

			.content-col {
				> h1 {
					font-size: 22px;
					margin-bottom: 5px;
					color: $primary-color;
				}

				nav {
					> ol.breadcrumb {
						li.breadcrumb-item {
							color: $content-color;

							&::before {
								color: $content-color;
							}

							a {
								color: $content-color;
							}

						}

					}

				}

				.btn {
					font-size: 14px;
					padding: 6px 12px;
				}

			}

		}

	}

}
