.daterangepicker {
	border: 1px solid $border-color;
	margin-top: 10px;
	border-radius: 4px;
	font-family: $font-body;
	color: $content-color;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	width: auto;
	max-width: auto;

	&:before {
		top: -9px;
		border-right: 9px solid transparent;
		border-left: 9px solid transparent;
		border-bottom: 9px solid $border-color;
	}

	&:after {
		top: -8px;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $white-color;
		border-left: 8px solid transparent;
	}

	&.opensleft {
		&:after {
			right: 16px;
		}

		&:before {
			right: 15px;
		}

	}

	&.opensright {
		&:after {
			left: 16px;
		}

		&:before {
			left: 15px;
		}

	}

	.ranges {
	}

	.drp-calendar {
		max-width: 100%;

		.calendar-table {
			table.table-condensed {
				thead {
					tr {
						th {
							text-align: center;
							vertical-align: middle;
							min-width: 40px;
							width: 40px;
							height: 40px;
							line-height: 37px;
							font-size: 15px;
							border-radius: 0;
							white-space: nowrap;
							cursor: pointer;
							border: 0;
							font-weight: 400;
							color: #858585;
						}

					}

					tr:first-child {
						th {
							&.next span,
							&.prev span {
								padding: 4px;
							}

							&.available:hover {
								background: transparent;
								color: inherit;
							}

							&.month {
								select.monthselect,
								select.yearselect {
									padding: 6px;
									border-radius: 4px;
									font-size: 13px;
									border: 1px solid $control-border-color;
									width: auto;
								}

								select.monthselect {
									margin-right: 10px;
								}

							}

						}

					}

					tr:last-child {
					}

				}

				tbody {
					tr {
						td {
							text-align: center;
							vertical-align: middle;
							min-width: 40px;
							width: 40px;
							height: 40px;
							line-height: 37px;
							font-size: 15px;
							border-radius: 0;
							border: 1px solid $border-color;
							white-space: nowrap;
							cursor: pointer;

							&.off {
								color: #ccc;
							}

							&.disabled {
								color: #ccc;
							}

							&.available:hover {
								background: rgba($primary-color, 0.1);
								color: inherit;
							}

							&.in-range {
								background: rgba($primary-color, 0.1);
								color: $content-color;
								border-radius: 0;
							}

							&.active,
							&.active:hover {
								background: $primary-color;
								color: $white-color;
							}

						}

					}

				}

			}

		}

		.calendar-time {
			margin-top: 15px;

			select.hourselect,
			select.minuteselect,
			select.ampmselect {
				padding: 6px;
				border-radius: 4px;
				font-size: 13px;
				border: 1px solid $control-border-color;
				background: $white-color;
				width: auto;
			}

		}

		&.left {
			padding: 25px;
		}

		&.right {
			padding: 25px;
		}

	}

	.drp-buttons {
		padding: 10px;
		border-top: 1px solid $border-color;

		.drp-selected {
			font-size: 13px;
			font-weight: 400;
			padding-right: 20px;
		}

		.btn {
			margin-left: 10px;
			font-size: 13px;
			font-weight: 400;
			padding: 8px 10px;
		}

	}

}

/*MEDIA*/
@media (min-width:564px) {
	.daterangepicker.ltr .drp-calendar.left .calendar-table {
		padding-right: 0;
	}

}
