/*====Checkbox - Radio ====*/
.form-group {
	.custom-checkbox,
	.custom-radio {
		small {
			margin-right: 20px;
			color: $input-append-prepend-text;
		}

	}

}

/*====custom-radio====*/
.custom-radio {
	position: relative;
	margin-bottom: 0;
	cursor: pointer;
	@extend .user-select-none;
	min-width: 16px;
	height: 16px;

	small {
		font-size: inherit;
		margin-left: 8px;
		color: $chk-text-color;
	}

	.checkmark {
		position: absolute;
		height: 16px;
		width: 16px;
		background: $chk-bg;
		border: 1px solid $chk-border-color;
		border-radius: 50%;
		left: 0;
		top: 1px;

		&:after {
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			-webkit-transform: scale(0);
			-ms-transform: scale(0);
			transform: scale(0);
			opacity: 0;
			z-index: -1;
			@extend .checkmark-transaction;
		}

	}

	&:hover {
		input {
			~ .checkmark {
				border: 1px solid $chkd-border-color;
			}

		}

	}

	input {
		position: relative;
		opacity: 0;
		cursor: pointer;

		&:checked {
			~ .checkmark {
				background-color: $chkd-bg;
				border: 1px solid $chkd-border-color;

				&:after {
					-webkit-transform: scale(1);
					-ms-transform: scale(1);
					transform: scale(1);
					opacity: 1;
					z-index: 0;
					background: $chkd-tick;
					@extend .checkmark-transaction;
				}

			}

		}

		&:disabled {
			~ .checkmark {
				background-color: $dis-chk-bg;
				border: 1px solid $dis-chk-border-color;
				cursor: not-allowed;

				&:after {
					opacity: 0.5;
					z-index: 0;
					background: $dis-chk-tick;
					@extend .checkmark-transaction;
				}

			}

		}

	}

}

/*====custom-checkbox====*/
.custom-checkbox {
	position: relative;
	cursor: pointer;
	@extend .user-select-none;
	margin-bottom: 0;
	min-width: 16px;
	height: 16px;

	&:hover {
		input {
			~ .checkmark {
				border: 1px solid $chkd-border-color;
			}

		}

	}

	small {
		font-size: inherit;
		margin-left: 8px;
		color: $chk-text-color;
	}

	.checkmark {
		position: absolute;
		height: 16px;
		width: 16px;
		background-color: $chk-bg;
		border: 1px solid $chk-border-color;
		border-radius: 3px;
		left: 0;
		top: 1px;

		&:after {
			content: "";
			position: absolute;
			left: 5px;
			top: 2px;
			width: 4px;
			height: 8px;
			border: solid $chkd-tick;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg) scale(0);
			-ms-transform: rotate(45deg) scale(0);
			transform: rotate(45deg) scale(0);
			opacity: 0;
			z-index: -1;
			@extend .checkmark-transaction;
		}

	}

	input {
		position: relative;
		opacity: 0;
		cursor: pointer;

		&:checked {
			~ .checkmark {
				background-color: $chkd-bg;
				border: 1px solid $chkd-border-color;

				&:after {
					-webkit-transform: rotate(45deg) scale(1);
					-ms-transform: rotate(45deg) scale(1);
					transform: rotate(45deg) scale(1);
					opacity: 1;
					z-index: 0;
					@extend .checkmark-transaction;
				}

			}

		}

		&:disabled {
			~ .checkmark {
				background-color: $dis-chk-bg;
				border: 1px solid $dis-chk-border-color;
				cursor: not-allowed;

				&:after {
					opacity: 0.5;
					z-index: 0;
					@extend .checkmark-transaction;
					border-color: $dis-chk-tick;
				}

			}

		}

	}

}
