/*===== content-subheader-sec ======*/
.details-header-sec {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	background-color: $white-color;
	border-radius: 4px;
	margin-bottom: 15px;
	align-items: stretch;
	overflow-x: auto;
	@extend .box-shadow;

	.dtls-wrap {
		padding: 25px;
		border-left: 1px solid $border-color;

		@media (max-width:$max-lg) {
			flex-basis: 100%;
			padding: 15px 25px;
			border-bottom: 1px solid $border-color;
		}

		&:first-child {
			border-left: 0;
		}

		.dtls-wrap-label {
			width: 100%;
			font-weight: 600;
			color: $sub-hd-lbl-color;
			font-size: 13px;
			text-transform: uppercase;
			white-space: nowrap;
		}

		.dtls-wrap-detail {
			width: 100%;
			margin-top: 10px;
			font-size: 13px;
			color: $sub-hd-dtl-color;

			.dtls-ullist {
				padding: 0;
				list-style-position: inside;

				li {
					margin-bottom: 5px;

					b {
						font-weight: 600;
					}

				}

			}

			@media (max-width:$max-md) {
				margin-top: 5px;
			}

		}

		&.btns-added {
			border-left: 0;
			text-align: right;
			margin-right: 0;
			margin-left: auto;
			align-self: center;
			padding: 25px;

			.btn:not(:last-child) {
				margin-right: 10px;
			}

			@media (max-width:$max-lg) {
				text-align: left;
				border-bottom: 0;
			}

		}

	}

}

/*===== details-content-sec ======*/
.details-content-sec {
	.details-row {
		background-color: $white-color;
		border-radius: 4px;
		margin-bottom: 15px;
		@extend .box-shadow;

		&:last-child {
			margin-bottom: 0;
		}

		.dtls-header {
			padding: 25px;
			padding-bottom: 10px;

			.row {
				align-items: center;

				.col {
					&:last-child {
						flex: 0 0 auto;
						width: auto;
						max-width: none;
					}

					a.ico-lnk:not(:last-child) {
						margin-right: 8px;
					}

				}

			}

			.hdr-title {
				font-size: 20px;
				font-weight: 400;
				color: $hdr-title-color;
				position: relative;

				&:before {
					content: '';
					width: 35px;
					height: 3px;
					background: rgba($hdr-title-color, 0.3);
					position: absolute;
					bottom: -13px;
					left: 0;
				}

			}

			.hdr-desc {
				font-size: 13px;
				color: $hdr-desc-color;
			}

			.ico-lnk {
				display: inline-block;
				text-align: center;
				line-height: 0;
				padding: 10px;
				opacity: 0.6;
				vertical-align: middle;
				border: 1px solid rgba($black-color, 0.6);
				border-radius: 50%;
				@extend .transition;

				&::after {
					display: inline-block;
					text-align: center;
				}

				&:hover {
					opacity: 1;
					border: 1px solid rgba($black-color, 1);
				}

				&.resend-email-ico {
					&::after {
						content: url("../img/resend-email-ico.png");
					}

				}

				&.edit-ico {
					&::after {
						content: url("../img/edit-ico.png");
					}

				}

				&.search-ico {
					&::after {
						content: url("../img/search-ico.png");
					}

				}
				
				&.print-ico {
					&::after {
						content: url("../img/print-ico.png");
					}

				}
				
				&.add-ico {
					&::after {
						content: url("../img/plus-ico.png");
					}

				}
				
				&.calender-ico {
					&::after {
						content: url("../img/calender-ico.png");
					}

				}
			}

		}

		.dtls-body {
			padding: 25px;

			table.v-align-middle {
				thead tr th,
				tbody tr td {
					vertical-align: middle;
				}

			}

			.dtls-tbl-sec {
				.dtls-tbl {
					display: table;
					width: 100%;

					.dtl-tbl-tr {
						display: table-row;

						.dtl-tbl-th,
						.dtl-tbl-td {
							padding: 8px;
							padding-right: 15px;
							padding-left: 0;
							vertical-align: top;
							border: 0;
							display: table-cell;
						}

						.dtl-tbl-th {
							font-weight: 600;
							color: $th-color;
							width: 250px;
						}

						.dtl-tbl-td {
							color: $td-color;

							span.highlight {
								background-color: #f07c70;
								font-weight: 600;
								color: white;
								padding: 0 2px;
							}

						}

					}

				}

				@media (max-width:$max-sm) {
					.dtls-tbl {
						display: block;

						.dtl-tbl-tr {
							display: block;
							margin-bottom: 5px;

							.dtl-tbl-th,
							.dtl-tbl-td {
								display: block;
								padding-right: 0;
							}

							.dtl-tbl-th {
								width: 100%;
							}

							.dtl-tbl-td {
								padding-top: 0;
							}

						}

					}

				}

				.dtls-list-tbl {
					table {
						width: 100%;

						thead {
							tr {
								th {
									font-weight: 600;
									font-size: 13px;
									color: $th-color;
								}

								&:last-child {
									th {
										border-bottom-width: 2px;
									}

								}

							}

						}

						tfoot {
							tr {
								td {
									font-weight: 600;
									color: $th-color;
								}

							}

						}

						td {
							color: $td-color;
							font-size: 13px;
						}

						th,
						td {
							padding: 10px;
							vertical-align: top;
							white-space: nowrap;
							border: 1px solid $tbl-border-color;

							.tbl-desc {
								min-width: 300px;
								white-space: normal;
							}

							.tbl-list {
								padding-left: 15px;
								margin-bottom: 0;

								li {
									margin-bottom: 5px;
									white-space: normal;
								}

							}

						}

					}

				}

			}

		}

		.dtls-footer {
			padding: 25px;
			border-top: 1px solid $border-color;

			.btn {
				min-width: 100px;

				&:not(:last-child) {
					margin-right: 10px;
				}

			}

		}

	}

}
