.error-page-container {
    display: flex;
    align-items: center;

    .error-page-bx {
        display: flex;
        flex-direction: column;
        background: #fff;
        padding: 25px;
        border-radius: 30px;
        width: 100%;
        min-height: 300px;
        max-width: 600px;
        box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
        margin: auto;
        margin-top: 45px;

        .err-head {
            font-size: 100px;
            font-weight: 900;
            width: 100%;
            text-align: center;
            background: linear-gradient(to right, #242939 20%, #5d78ff 40%, #5d78ff 60%, #242939 80%);
            background-size: 200% auto;
            color: #5d78ff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @extend .slide-shine;
        }

        .err-sub-head {
            font-size: 20px;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
        }

        .err-content {
            text-align: center;
            width: 100%;
            color: rgba(33, 37, 41, 0.7);
        }

    }

}
