body .wrapper {
    @media (max-width:$max-md) {
        margin-bottom: 0 !important;
    }

}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0 25px;
    min-height: 60px;
    width: calc(100% - 260px);
    position: absolute;
    bottom: 0;
    z-index: 1030;
    left: 260px;
    @extend .transition;

    @media (max-width:$max-xl) {
        width: 100%;
        left: 0;
    }

    @media (max-width:$max-md) {
        align-items: center;
        justify-content: space-evenly;
        align-content: center;
        padding: 15px 0;
        position: static;

        .footer-menu {
            text-align: center;
        }

    }

    .footer-copyright,
    .footer-menu {
        a.link {
            position: relative;
            display: inline-block;
            font-weight: 400;
            text-decoration: none;

            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                top: 1rem;
                left: 0;
                border-bottom: 1px solid #5d78ff;
                opacity: 0.5;
                width: 0%;
                -webkit-transition: width 0.3s ease;
                transition: width 0.3s ease;
            }

            &:hover {
                &::after {
                    width: 100%;
                }

            }

        }

    }

    .footer-copyright {
        color: #a1a8c3;

        a.link {
            color: #a1a8c3;

            &:hover {
                color: #5d78ff;
            }

        }

    }

    .footer-menu {
        a.link {
            color: #646c9a;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #5d78ff;
            }

        }

    }

}
