/*====Form control gutter space====*/
.form-gutter {
	margin-right: -12.5px;
	margin-left: -12.5px;

	> .col,
	> [class*="col-"] {
		padding-right: 12.5px;
		padding-left: 12.5px;
	}

	@media (max-width:$max-lg) {
		margin-right: -7.5px;
		margin-left: -7.5px;

		> .col,
		> [class*="col-"] {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}

	}

}

.gutter-15 {
	margin-right: -7.5px;
	margin-left: -7.5px;

	> .col,
	> [class*="col-"] {
		padding-right: 7.5px;
		padding-left: 7.5px;
	}

}

/*====Form group====*/
.form-group {
	margin-bottom: 20px;

	.control-label {
		color: $control-label-color;
		margin-bottom: 8px;
		width: 100%;
		font-size: 13px;
		font-weight: 400;

		> span {
			color: $sub-content-color;
			font-size: 11px;
			margin-left: 5px;
		}

		.custom-checkbox {
			small {
				font-weight: 600;
			}

		}

	}

	.control-info {
		color: $sub-content-color;
		font-size: 11px;
		margin-top: 2px;
		display: block;
	}

}

/*====daterangepicker====*/
.daterangepicker {
	z-index: 1060;
}

/*====bootstrap-tagsinput====*/
.bootstrap-tagsinput {
	width: 100%;
	border: 0;
	box-shadow: none;
	border-radius: 4px;
	color: $content-color;
	background-color: $white-color;
	border: 1px solid $control-border-color;
	min-height: 39px;
	padding: 4px 6px;
	line-height: 28px;

	input {
		padding: 0 4px;
	}

	.tag {
		background: $primary-color;
		color: $white-color;
		padding: 4px;
		border-radius: 2px;
		font-size: 11px;
		line-height: 28px;

		[data-role="remove"]:after {
			position: relative;
			top: -1px;
		}

	}

}

/*====form-control====*/
.form-control {
	font-size: 13px;
	padding: 9px 12px;
	border-radius: 4px;
	color: $control-text-color;
	background-color: $white-color;
	border: 1px solid $control-border-color;
	height: auto;

	&::-webkit-input-placeholder {
		color: $control-placeholder;
	}

	&::-moz-placeholder {
		color: $control-placeholder;
	}

	&:-ms-input-placeholder {
		color: $control-placeholder;
	}

	&:-moz-placeholder {
		color: $control-placeholder;
	}

	&:focus {
		border-color: $primary-color;
		box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
		outline: 0;
	}

	&:disabled {
		background-color: $control-disabled-bg;
		border-color: $control-disabled-border;
		color: $control-disabled-text-color;
		opacity: 1;
		cursor: not-allowed;
	}

}

/*---=== JQUERY Validation Message (is-valid/is-invalid/) === --*/
.form-group {
	.form-control {
		//VALID
		&.valid:not(label) {
			border-color: $valid-color;
			box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
			outline: 0;

			&:focus {
				border-color: $valid-color;
				box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
				outline: 0;
			}

		}

		&.selectpicker.valid + .dropdown-toggle {
			border-color: $valid-color;
			box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
			outline: 0;

			&:focus {
				border-color: $valid-color;
				box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
				outline: 0;
			}

		}

		//ERROR
		&.error:not(label) {
			border-color: $error-color;
			box-shadow: 0 0 0 2px rgba($error-color, 0.2);
			outline: 0;

			&:focus {
				border-color: $error-color;
				box-shadow: 0 0 0 2px rgba($error-color, 0.2);
				outline: 0;
			}

		}

		&.selectpicker.error + .dropdown-toggle {
			border-color: $error-color;
			box-shadow: 0 0 0 2px rgba($error-color, 0.2);
			outline: 0;

			&:focus {
				border-color: $error-color;
				box-shadow: 0 0 0 2px rgba($error-color, 0.2);
				outline: 0;
			}

		}

	}

	//File Upload

	.input-group {
		.custom-file {
			.custom-file-input.error + .custom-file-label {
				border-color: $error-color;
				box-shadow: 0 0 0 2px rgba($error-color, 0.2);
				outline: 0;

				&:focus {
					border-color: $error-color;
					box-shadow: 0 0 0 2px rgba($error-color, 0.2);
					outline: 0;
				}

			}

			.custom-file-input.valid + .custom-file-label {
				border-color: $valid-color;
				box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
				outline: 0;

				&:focus {
					border-color: $valid-color;
					box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
					outline: 0;
				}

			}

		}

	}

	//Bootstrap Custom Selectpicker
	.button-custom-selectpicker {
		.dropdown-toggle.error {
			border-color: $error-color;
			box-shadow: 0 0 0 2px rgba($error-color, 0.2);
			outline: 0;

			&:focus {
				border-color: $error-color;
				box-shadow: 0 0 0 2px rgba($error-color, 0.2);
				outline: 0;
			}

		}

		.dropdown-toggle.valid {
			border-color: $valid-color;
			box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
			outline: 0;

			&:focus {
				border-color: $valid-color;
				box-shadow: 0 0 0 2px rgba($valid-color, 0.2);
				outline: 0;
			}

		}

	}

	label.error,
	span.error {
		color: $error-color;
		margin-top: 2px;
		margin-bottom: 0;
		font-size: 11px;
		display: block;
	}

}

/*====bootstrap-select====*/
.bootstrap-select {
	&.show-tick {
		.dropdown-menu {
			.dropdown-item {
				span.check-mark {
					vertical-align: middle;
					position: relative;
					display: inline-block;
					margin-right: 10px;
					height: 16px;
					width: 16px;
					border-radius: 3px;
					right: auto;
					left: 0;
					top: 0;
					color: #fff;
					background-color: $chk-bg;
					border: 1px solid $chk-border-color;

					&:after {
						content: '';
						display: block;
						border-style: solid;
						width: 4px;
						height: 8px;
						border-width: 0 2px 2px 0;
						margin: 0 auto;
						position: relative;
						top: 2px;
						opacity: 0;
						-webkit-transform: rotate(45deg) scale(0);
						-ms-transform: rotate(45deg) scale(0);
						-o-transform: rotate(45deg) scale(0);
						-ms-transform: rotate(45deg) scale(0);
						transform: rotate(45deg) scale(0);
						transition: all 0.2s ease-in-out;
						@extend .checkmark-transaction;
					}

				}

				span.text {
					vertical-align: middle;
				}

				&.selected {
					span.check-mark {
						color: $chkd-tick;
						background-color: $chkd-bg;
						border: 1px solid $chkd-border-color;

						&:after {
							-webkit-transform: rotate(45deg) scale(1);
							-ms-transform: rotate(45deg) scale(1);
							-o-transform: rotate(45deg) scale(1);
							-ms-transform: rotate(45deg) scale(1);
							transform: rotate(45deg) scale(1);
							opacity: 1;
						}

					}

				}

				&.opt {
					padding-left: 12px;
				}

			}

		}

	}

	> .dropdown-toggle {
		padding: 9px 12px;
		background: $white-color;
		font-size: 13px;
		color: $control-text-color;
		background-color: $white-color;
		border: 1px solid $control-border-color;

		&:focus {
			outline: 0 !important;
			outline-offset: 0 !important;
		}

		&.bs-placeholder,
		&.bs-placeholder:hover,
		&.bs-placeholder:focus,
		&.bs-placeholder:active {
			color: $control-text-color;
		}

		&::after {
			margin-left: 5px;
			border-width: 4px;
		}

	}

	&.show {
		.dropdown-toggle {
			border-color: $primary-color;
			color: $control-text-color;
			background-color: $white-color;
			outline: 0;
			box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
		}

	}

	> .disabled,
	&.disabled {
		background-color: $control-disabled-bg;
		border-color: $control-disabled-border;
		color: $control-disabled-text-color;
		opacity: 1;
		cursor: not-allowed;
	}

}

/*====dropdown-menu====*/
.dropdown-menu {
	background-color: $white-color;
	border: 1px solid $control-border-color;
	border-radius: 4px;
	padding: 0;
	margin: 0 0;
	overflow: hidden;

	&[x-placement="top-start"] {
		box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
	}

	&[x-placement="bottom-start"] {
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	}

	.dropdown-item {
		font-size: 13px;
		padding: 8px 12px;
		color: $control-label-color;

		&:hover,
		&:focus {
			color: $control-label-color;
			background-color: $control-hover-color;
			outline: 0;
		}

		&.active {
			color: $content-color;
			font-weight: 600;
			text-decoration: none;
			background-color: #f5f5f5;
		}

		&.disabled {
			color: $control-disabled-text-color;
			pointer-events: none;
			background-color: transparent;
			cursor: not-allowed;
		}

	}

	li {
		&.dropdown-divider {
			display: none;
		}

		&.dropdown-header {
			background-color: #e3eaf1;
			font-size: 13px;
			color: $content-color;
			padding: 10px;
			font-weight: 600;
		}

		&.no-results {
			padding: 5px;
			background: #f5f5f5;
			margin: 0;
			white-space: nowrap;
			color: $content-color;
			font-size: 13px;
		}

	}

	.bs-actionsbox {
		padding: 10px;
		border-bottom: 0;

		.btn,
		.btn:hover,
		.btn:focus {
			font-size: 13px;
			color: $content-color;
			background-color: transparent;
			border: 1px solid $control-border-color;
			background: $white-color;
			border-radius: 4px;
		}

		.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
		.btn-group > .btn-group:not(:last-child) > .btn {
			border-radius: 4px;
		}

		.btn:not(:last-child) {
			margin-right: 10px;
		}

		.btn.bs-select-all {
			color: #ffffff;
			border: 1px solid rgba(255, 255, 255, 0.1);
			background-color: $primary-color;
		}

		.btn.bs-deselect-all {
			border: 1px solid #c9c9c9;
			color: #121d31;
			background-color: #ffffff;
		}

	}

	.bs-searchbox {
		padding: 10px;

		.form-control {
			padding: 5px;
		}

	}

	.notify {
		font-size: 13px;
		color: $content-color;
		box-shadow: none;
		border: 1px solid $control-border-color;
	}

}

input[name="daterange"],
input[name="singledate"],
input[name="singledatetime"],
input[name="daterangetime"] {
	background-image: url(../img/calender-ico.png);
	background-position: center right 10px;
	background-repeat: no-repeat;
}

/*====Select item with autocompleter search====*/
.input-group-prepend {
	+ .input-group-append {
		flex: 1 1 auto;

		.form-control {
			border-radius: 0 4px 4px 0px;
		}

	}

}

/*====input-group-btn====*/
.input-group {
	.input-group-btn {
		.btn {
			border-radius: 0 4px 4px 0;
			font-size: 13px;
		}

	}

	&.disabled {
		.input-group-prepend,
		.input-group-append {
			.input-group-text {
				background-color: $control-disabled-bg;
				border-color: $control-disabled-border;
				color: $control-disabled-text-color;
			}

		}

	}

	.input-group-prepend,
	.input-group-append {
		.btn {
			font-size: 13px;
		}

		.input-group-text {
			font-size: 13px;
			padding: 9px 12px;
			border: 1px solid $control-border-color;
			background-color: $input-append-prepend;
			color: $input-append-prepend-text;
			display: inline-block;
		}

		.dropdown-toggle {
			text-align: left;
			color: $control-text-color;
			border: 1px solid $control-border-color;

			&::after {
				margin-left: 15px;
				margin-right: auto;
				border-width: 4px;
			}

		}

		&.show {
			.dropdown-toggle {
				border-color: $primary-color;
				color: $control-text-color;
				background-color: $white-color;
				outline: 0;
				box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
			}

		}

		.dropdown-menu {
			.dropdown-item {
				&:last-child {
					border-bottom: 0;
				}

			}

		}

	}

	.custom-file {
		height: auto;

		.custom-file-input {
			height: auto;

			&:disabled {
				cursor: not-allowed;
			}

			&:disabled ~ .custom-file-label,
			&:disabled ~ .custom-file-label:after {
				background-color: $control-disabled-bg;
				cursor: not-allowed;
			}

		}

		.custom-file-label {
			height: auto;
			padding: 9px 12px;
			color: $control-text-color;
			background-color: $white-color;
			border: 1px solid $control-border-color;
			border-radius: 4px;
			margin-bottom: 0;

			&::after {
				height: auto;
				padding: 9px 12px;
				border-left: 1px solid $control-border-color;
				background-color: $white-color;
			}

		}

	}

}

/*====Dropdown Select====*/
.button-custom-selectpicker {
	.dropdown-toggle {
		border: 1px solid $control-border-color;
		color: $control-text-color;
		width: 100%;
		text-align: left;
		padding: 9px 12px;
		background: $white-color;
		font-size: 13px;
		border-radius: 4px;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;

		&:focus {
			border-color: $primary-color;
			color: $control-text-color;
			background-color: $white-color;
			outline: 0;
			box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
		}

		&:disabled {
			background-color: $control-disabled-bg;
			border-color: $control-disabled-border;
			color: $control-disabled-text-color;
			opacity: 1;
			cursor: not-allowed;
		}

		.sel-val {
			position: static;
			top: 0;
			left: 0;
			float: left;
			height: 100%;
			width: 100%;
			text-align: left;
			overflow: hidden;
			-webkit-box-flex: 0;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
		}

		&::after {
			margin-top: -1px;
			margin-left: 5px;
		}

	}

	.dropdown-menu {
		.dropdown-item {
			&:last-child {
				border-bottom: 0;
			}

			&.disabled {
				pointer-events: auto;
				cursor: not-allowed;
			}

		}

		.form-group {
			margin-bottom: 0;
			padding: 9px 12px;
			padding-top: 2px;

			.form-control {
				padding: 6px 10px;
			}

			.btn {
				padding: 6px 10px;
				min-width: 100%;
			}

		}

	}

}

/*====switch====*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 26px;

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $switch-bg;
		border: 1px solid $switch-border-color;
		border-radius: 20px;
		@extend .transition;

		&:before {
			position: absolute;
			content: "";
			height: 16px;
			width: 16px;
			z-index: 1;
			left: 5px;
			bottom: 4px;
			background-color: $white-color;
			border: 1px solid $switch-border-color;
			border-radius: 50%;
			@extend .transition;
		}

		&:after {
			position: absolute;
			content: "OFF";
			height: 16px;
			width: auto;
			right: 12px;
			top: 4px;
			color: $switch-text-color;
			font-size: 11px;
			font-weight: 600;
			@extend .transition;
		}

	}

	input {
		top: 0;
		left: 0;
		position: absolute;
		opacity: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		cursor: pointer;

		&:checked {
			~ .slider {
				background-color: $switch-check-bg;
				border: 1px solid $switch-check-bg;

				&:before {
					-webkit-transform: translateX(33px);
					-ms-transform: translateX(33px);
					transform: translateX(33px);
					background-color: $white-color;
					border: 1px solid $white-color;
				}

				&:after {
					content: "ON";
					left: 12px;
					color: $white-color;
				}

			}

		}

		&:disabled {
			cursor: not-allowed;

			~ .slider {
				background-color: $dis-switch-bg;
				border: 1px solid $dis-switch-border-color;

				&:after {
					color: $dis-switch-text-color;
				}

				&:before {
					background-color: $white-color;
					border: 1px solid $dis-switch-border-color;
				}

			}

		}

	}

	&.yes-no {
		input {
			&:checked {
				~ .slider {
					&:after {
						content: "YES";
					}

				}

			}

		}

		.slider {
			&:after {
				content: "NO";
			}

		}

	}

	&.active-inactive {
		width: 90px;

		input {
			&:checked {
				~ .slider {
					&:before {
						-webkit-transform: translateX(63px);
						-ms-transform: translateX(63px);
						transform: translateX(63px);
					}

					&:after {
						content: "ACTIVE";
						left: 12px;
					}

				}

			}

		}

		.slider {
			&:before {
				left: 5px;
				bottom: 4px;
			}

			&:after {
				content: "INACTIVE";
				right: 12px;
				top: 4px;
			}

		}

	}

}

/*====tooltip====*/
.tooltip {
	.tooltip-inner {
		max-width: 200px;
		padding: 3px 8px;
		color: $white-color;
		text-align: center;
		background-color: $black-color;
		border-radius: 4px;
		font-size: 11px;
	}

}

/*====popover====*/
.popover {
	.popover-header {
		font-size: 13px;
		font-weight: 600;
		color: $content-color;
		padding: 8px 10px;
		background: $white-color;
		border-bottom: 0;
		padding-bottom: 0;
	}

	.popover-body {
		font-size: 13px;
		color: $sub-content-color;
		padding: 8px 10px;
	}

}

/*====Typehead (Autocompleter)====*/
.twitter-typeahead {
	width: 100%;

	.tt-menu {
		width: 100%;

		.tt-dataset {
			border: 1px solid $control-border-color;
			background-color: $white-color;
			border-radius: 4px;
			padding: 0;
			margin: 5px 0;
			max-height: 200px;
			overflow-y: auto;

			.tt-header {
				font-size: 13px;
				padding: 9px 12px;
				color: $content-color;
				background-color: #f5f5f5;
				border-bottom: 1px solid $control-border-color;
				font-weight: 600;
			}

			.tt-suggestion {
				font-size: 13px;
				padding: 9px 12px;
				color: $control-label-color;
				background-color: $white-color;
				border-bottom: 1px solid $control-border-color;

				&:hover,
				&:focus {
					color: $control-label-color;
					background-color: $control-hover-color;
					outline: 0;
					cursor: pointer;
				}

				&:last-child {
					border-bottom: 0;
				}

				.tt-highlight {
					font-weight: 600;
					color: $primary-color;
				}

			}

		}

	}

}

.input-group .twitter-typeahead {
	.form-control {
		border-radius: 0px 4px 4px 0px;
	}

}

/*=====Action Switch Use in Form Header====*/
.actn-btn {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding: 12px;

	.act-toggler-lbl {
		position: relative;
		margin-right: 10px;
		font-weight: 600;
	}

	.act-toggler {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;
		margin: 0;

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #222d32;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 30px;

			&:before {
				position: absolute;
				content: "=";
				font-size: 18px;
				text-align: center;
				line-height: 21px;
				color: #59656b;
				height: 22px;
				width: 22px;
				left: 4px;
				bottom: 4px;
				background-color: #79878e;
				-webkit-transition: .4s;
				transition: .4s;
				border-radius: 50%;
			}

		}

		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		input:checked + .slider {
			background-color: #222d32;
		}

		input:focus + .slider {
			box-shadow: none;
		}

		input:checked + .slider:before {
			-webkit-transform: translateX(30px);
			-ms-transform: translateX(30px);
			transform: translateX(30px);
			background-color: #42ad5d;
			color: #75d08c;
		}

	}

	&.active {
		.act-toggler-lbl {
			span:first-child {
				display: block;
			}

			span:last-child {
				display: none;
			}

		}

	}

	&.inactive {
		.act-toggler-lbl {
			span:first-child {
				display: none;
			}

			span:last-child {
				display: block;
				opacity: 0.5;
			}

		}

	}

}

/*====toggler-chk====*/
.control-label {
	.toggler-chk {
		float: right;
	}

}

.toggler-chk {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	.tg-slider {
		border: none;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 28px;
		height: 14px;
		margin-right: 5px;
		top: -2px;

		&:before {
			content: '';
			display: block;
			border-radius: 2px;
			height: 100%;
			width: 100%;
			background-color: $unchk-toggler-bg;
			box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.24);
		}

		&:after {
			left: 2px;
			top: 2px;
			position: absolute;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.18);
			content: '=';
			color: #d9dfe0;
			background: $unchk-toggler-mark;
			border-radius: 1px;
			padding: 4px 2px;
			line-height: 2px;
			transition: 0.2s, 0.3s opacity;
		}

		~ .tg-text-chk,
		~ .tg-text-unchk {
			font-weight: 600;
			font-size: 13px;
		}

		~ .tg-text-chk {
			display: none;
		}

		~ .tg-text-unchk {
			display: inline-block;
			opacity: 0.6;
		}

	}

	> input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		cursor: pointer;

		&:checked {
			~ .tg-slider {
				&:before {
					background-color: $chk-toggler-bg;
				}

				&:after {
					-webkit-transform: translateX(13px);
					-ms-transform: translateX(13px);
					transform: translateX(13px);
					background-color: $chk-toggler-mark;
				}

				~ .tg-text-chk {
					display: inline-block;
				}

				~ .tg-text-unchk {
					display: none;
				}

			}

		}

	}

}
