form {
	margin-bottom: 0;
}

.form-section {
	background-color: $white-color;
	border-radius: 4px;
	@extend .box-shadow;

	.form-area {
		border-bottom: 1px solid rgba($border-color, 0.4);

		&:last-child {
			border-bottom: 0;
		}

		.form-header {
			display: flex;
			flex-direction: row;
			align-items: center;

			.info-hd {
				font-size: 20px;
				padding: 25px;
				padding-bottom: 10px;
				font-weight: 400;
				color: $form-title;
				position: relative;
				flex: 1;

				@media (max-width:$max-lg) {
					padding: 15px;
					font-size: 18px;
				}

				&:before {
					content: '';
					width: 35px;
					height: 3px;
					background: rgba($form-title, 0.3);
					position: absolute;
					bottom: 0;
					left: 25px;

					@media (max-width:$max-lg) {
						left: 15px;
					}

				}

			}

			.info-desc {
				font-size: 13px;
				color: $form-desc;
			}

		}

		.form-body {
			padding: 25px;

			@media (max-width:$max-lg) {
				padding: 15px;
			}

			.form-inner-body {
				background: #ecf0f5;
				padding: 15px;
				border-radius: 4px;

				.section-heading {
					background: #d0dce7;

					a {
						color: #024da0;
					}

				}

			}

		}

	}

}

.form-footer {
	text-align: right;
	margin-top: 25px;
	font-size: 0;

	@media (max-width:$max-lg) {
		margin-top: 15px;
	}

	.btn {
		margin-left: 15px;
		min-width: 100px;
	}

}

//INLINE FORM
.row {
	&.inline-form {
		margin-right: -30px;
		margin-left: -30px;

		> .col,
		> [class*="col-"] {
			padding-right: 30px;
			padding-left: 30px;
		}

		.form-group {
			.row {
				margin-right: -7.5px;
				margin-left: -7.5px;

				> .col,
				> [class*="col-"] {
					padding-right: 7.5px;
					padding-left: 7.5px;

					&:first-child {
						align-self: center;
					}

					&:last-child {
						align-self: flex-start;
					}

				}

			}

		}

	}

}
