.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 260px);
    height: 75px;
    background: #fff;
    position: fixed;
    z-index: 1030;
    padding: 0 25px;
    top: 0;
    left: 260px;
    transition: all 300ms ease;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);

    @media (max-width:$max-xl) {
        width: 100%;
        left: 0;
    }

    .brand-logo-mobile-tab {
        margin-left: 25px;

        svg {
            width: 130px;

            .primary-color {
                fill: #385aeb;
            }

            .secondary-color {
                fill: #000;
            }

        }

        @media (min-width:$min-xl) {
            display: none;
        }

    }

    .mobile-tab-toggler-click {
        display: flex;
        margin-left: 0;
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;

        @media (min-width:$min-xl) {
            display: none;
        }

        span {
            display: block;
            background: #484f66;
            position: absolute;
            top: 12px;
            height: 2px;
            min-height: 2px;
            width: 100%;
            border-radius: 2px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;

            &::before,
            &::after {
                background: #484f66;
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                min-height: 2px;
                content: "";
                border-radius: 2px;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
            }

            &::before {
                top: -8px;
                left: auto;
                right: 0;
                width: 50%;
            }

            &::after {
                bottom: -8px;
                left: auto;
                right: 0;
                width: 75%;
            }

        }

        &.active {
            span {
                background: #222;

                &::before,
                &::after {
                    background: #222;
                    left: auto;
                    right: 0;
                }

                &::before {
                    left: 0;
                    right: auto;
                }

                &::after {
                    left: 0;
                    right: auto;
                }

            }

        }

        &:hover {
            span {
                background: #222;

                &::before,
                &::after {
                    background: #222;
                }

                &::before {
                    width: 100%;
                }

                &::after {
                    width: 100%;
                }

            }

        }

    }

    .toggle-header-links-clk {
        display: flex;
        margin-right: 0;
        margin-left: auto;
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;

        @media (min-width:$min-lg) {
            display: none;
        }

        .dot-menu-ico {
            display: flex;
            position: relative;

            svg {
                height: 22px;
                width: 22px;
            }

        }

    }

    .hdr-search {
        display: flex;
        margin-right: auto;
        position: relative;

        .srch-ico {
            position: absolute;
            margin: auto;
            top: 8px;
            left: 12px;

            svg {
                height: 14px;
                width: 14px;
            }

        }

        input[type="text"] {
            padding: 8px 10px 8px 35px;
            border-radius: 60px;
            border: 1px solid $control-border-color;
            outline: 0;
            width: 250px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;

            &:focus {
                width: 500px;
                border-color: $primary-color;
                box-shadow: 0 0 0 2px rgba(93, 120, 255, 0.2);
            }

        }

        @media (max-width:$max-xl) {
            display: none;
        }

    }

    .header-links {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0;
        position: relative;

        @media (max-width:$max-lg) {
            justify-content: center;
            position: absolute;
            background: rgba(31, 34, 49, 0.9);
            width: 100%;
            left: 0;
            padding: 10px 25px;
            box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
            top: 75px;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;

            &.active {
                opacity: 1;
                visibility: visible;

                .hdr-lnk {
                    color: #fff;

                    .lnk-ico {
                        display: flex;
                        position: relative;

                        svg {
                            fill: #fff;
                        }

                    }

                }

            }

        }

        .hdr-lnk {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            margin-right: 25px;
            color: #000;

            &:last-child {
                margin-right: 0;
            }

            .lnk-ico {
                display: flex;
                position: relative;

                svg {
                    height: 22px;
                    width: 22px;
                    position: relative;
                }

                &.active {
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 9px;
                        padding: 2px;
                        font-size: 11px;
                        line-height: 12px;
                        border: 2px solid #ffffff;
                        height: 9px;
                        color: #fff;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: middle;
                        background-color: #5d78ff;
                        border-radius: 50%;
                        position: absolute;
                        top: -3px;
                        right: 0;
                    }

                    &::before {
                        content: '';
                        border-color: rgba(77, 83, 104, 0.8);
                        display: block;
                        border-radius: 50%;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: -9px;
                        right: -5px;
                        margin: auto;
                        -webkit-animation: ripple-pulse 3.5s ease-out;
                        animation: ripple-pulse 3.5s ease-out;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                        opacity: 0;
                        border-width: 3px;
                        border-style: solid;
                        border-color: #71779a;

                        @-webkit-keyframes ripple-pulse {
                            0% {
                                -webkit-transform: scale(0.1, 0.1);
                                opacity: 0.0;
                            }

                            60% {
                                -webkit-transform: scale(0.1, 0.1);
                                opacity: 0.0;
                            }

                            65% {
                                opacity: 1;
                            }

                            100% {
                                -webkit-transform: scale(1.2, 1.2);
                                opacity: 0.0;
                            }

                        }

                        @keyframes ripple-pulse {
                            0% {
                                -webkit-transform: scale(0.1, 0.1);
                                opacity: 0.0;
                            }

                            60% {
                                -webkit-transform: scale(0.1, 0.1);
                                opacity: 0.0;
                            }

                            65% {
                                opacity: 1;
                            }

                            100% {
                                -webkit-transform: scale(1.2, 1.2);
                                opacity: 0.0;
                            }

                        }

                    }

                }

            }

            .lnk-name {
                display: flex;
                margin-left: 10px;

                @media (max-width:$max-md) {
                    display: none;
                }

            }

            .user-logo {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #ff146c;
                color: #fff;
                width: 38px;
                height: 38px;
                text-align: center;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 50%;
                font-weight: 400;
                letter-spacing: 1px;
            }

        }

        .user-dropdown {
            position: absolute;
            width: 280px;
            top: 65px;
            right: -15px;
            padding: 15px;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
            visibility: hidden;
            opacity: 0;
            transform: translateY(25px);
            transition: all 500ms ease;

            @media (max-width:$max-lg) {
                left: 0;
                right: 0;
                max-width: 400px;
                margin: auto;
            }

            &.active {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }

            .user-details {
                .user-name {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .user-info {
                    .data-row {
                        margin-bottom: 10px;

                        strong {
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.8);
                            display: block;
                            margin-bottom: 5px;

                            i {
                                margin-right: 5px;
                            }

                        }

                        span {
                            display: block;
                        }

                    }

                }

                .user-action {
                    .action-btn {
                        padding: 8px 10px;
                        background-color: rgba(93, 120, 255, 0.1);
                        color: #5d78ff;
                        border-radius: 2px;
                        display: inline-block;
                        width: 100%;
                        margin-top: 10px;
                        text-align: center;
                        text-decoration: none;
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 400;

                        &:last-child {
                            color: #fff;
                            background: #5d78ff;
                        }

                    }

                }

            }

        }

        .notification-dropdown {
            position: absolute;
            width: 280px;
            top: 65px;
            left: 0;
            background: #fff;
            border-radius: 4px;
            box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
            visibility: hidden;
            opacity: 0;
            transform: translateY(25px);
            transition: all 500ms ease;
            height: 300px;

            @media (max-width:$max-lg) {
                left: 0;
                right: 0;
                max-width: 400px;
                margin: auto;
            }

            &.active {
                opacity: 1;
                transform: translateY(0);
                visibility: visible;
            }

            ul.notification-list {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: flex;
                    align-items: center;
                    align-content: stretch;
                    border-bottom: 1px solid #ebedf2;

                    &:last-child {
                        border-bottom: 0;
                    }

                    a.noti-item {
                        display: block;
                        padding: 15px;
                        flex-grow: 1;
                        text-decoration: none;
                        outline: 0;
                        position: relative;

                        .noti-name {
                            font-size: 14px;
                            display: block;
                            color: #000;
                        }

                        .noti-time {
                            font-size: 12px;
                            margin-top: 5px;
                            display: block;
                            color: rgba(0, 0, 0, 0.8);

                            i {
                                margin-right: 5px;
                            }

                        }

                    }

                }

            }

        }

    }

}
