.note-section {
    background-color: #F5F0C5;
    border: 1px solid #DFD799;
    color: #706A39;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.legend-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -15px;

    .legend-title {
        flex-basis: auto;
        margin-right: 25px;
        margin-top: 5px;
        margin-bottom: 5px;

        @media (max-width:$max-md) {
            flex-basis: 100%;
            margin-bottom: 5px;
        }

    }

    .legend-item {
        padding-left: 15px;
        position: relative;
        margin-right: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        flex: 0 1 auto;

        &::before {
            content: '';
            height: 18px;
            width: 3px;
            position: absolute;
            left: 0;
            top: 0;
        }

        &.active {
            &::before {
                background: #33a60b;
            }

        }

        &.inactive {
            &::before {
                background: #cccccc;
            }

        }

    }

}

/*====colors====*/
.legend-section {
    .legend-item {
        &.high-risk {
            &::before {
                background: #c60c02;
            }

        }

        &.low-risk {
            &::before {
                background: #e9a002;
            }

        }

        &.go-ahead {
            &::before {
                background: #33a60b;
            }

        }

        &.no-risk {
            &::before {
                background: #cccccc;
            }

        }

        &.rsk-mtg-inprocess {
            &::before {
                background: #c03dc1;
            }

        }

    }

}

table.listing-table {
    > tbody > tr > td {
        a {
            &.high-risk {
                padding-left: 10px;
                border-left: 3px solid #c60c02;
            }

            &.low-risk {
                padding-left: 10px;
                border-left: 3px solid #e9a002;
            }

            &.go-ahead {
                padding-left: 10px;
                border-left: 3px solid #33a60b;
            }

            &.no-risk {
                padding-left: 10px;
                border-left: 3px solid #cccccc;
            }

            &.rsk-mtg-inprocess {
                padding-left: 10px;
                border-left: 3px solid #c03dc1;
            }

        }

    }

}

.listing-col-filter {
    padding: 10px 15px;
    background: $white-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    width: 100%;

    .title {
        font-weight: 600;
        color: $content-color;
        margin-right: 15px;
    }

    .data {
        font-weight: 600;
        color: $content-color;

        .custom-checkbox:not(:last-child) {
            margin-right: 20px;
        }

    }

}

.section-heading {
    font-weight: 600;
    color: $content-color;
    padding: 10px;
    background-color: $section-heading-bg;
    margin-top: 15px;
    margin-bottom: 15px;

    &:first-child {
        margin-top: 0;
    }

    a.btn-link {
        &:hover,
        &:focus {
            text-decoration: none;
        }

    }

    a.btn-link:not(:last-child)::after {
        padding-left: 8px;
        padding-right: 10px;
        color: #777;
        content: "|";
    }

    .col + .col {
        text-align: right;
    }

}

.section-body {
    display: block;
}

.no-records-listing {
    font-size: 20px;
    color: $sub-content-color;
    border-radius: 0 0 4px 4px;
    background-color: $white-color;
    width: 100%;
    padding: 15px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;

    img {
        margin-bottom: 20px;
    }

}

.data-not-found {
    text-align: center;
    font-size: 20px;
    color: $sub-content-color;
    padding: 15px;
    border: 1px solid $border-color;
}

.listing-section {
    background: $white-color;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding: 25px;
    @extend .box-shadow;

    @media (max-width:$max-lg) {
        padding: 15px;
    }

    &.no-padding {
        padding: 0;
    }

}

/*===listing-table===*/
table.listing-table {
    background-color: $white-color;
    position: relative;
    margin-bottom: 0;
    border-collapse: collapse !important;
    width: 100%;
    border: 1px solid $tbl-border-color;

    &.v-align-middle {
        thead tr th,
        tbody tr td {
            vertical-align: middle;
        }

    }

    &.white-space-normal {
        thead tr th,
        tbody tr td {
            white-space: normal;
        }

    }

    &.table-bordered {
        tr {
            td,
            th {
                border: 1px solid $tbl-border-color;
            }

        }

    }

    > thead {
        > tr {
            > th {
                border-top: 0;
                border: 1px solid $tbl-border-color;
                font-weight: 600;
                color: $th-color;
                padding: 15px;
                vertical-align: middle;
                white-space: nowrap;
                font-size: 13px;
            }

            &:last-child {
                border-bottom: 1px solid $tbl-border-color;
            }

        }

    }

    > tbody {
        > tr {
            > td {
                border-top: 0;
                border: 1px solid $tbl-border-color;
                color: $td-color;
                padding: 15px;
                vertical-align: top;
                font-size: 13px;
                white-space: nowrap;

                > span {
                    position: relative;

                    &.active {
                        border-left: 3px solid #33a60b;
                        padding-left: 10px;
                    }

                    &.inactive {
                        border-left: 3px solid #dbdbdb;
                        padding-left: 10px;
                    }

                    > span.badge {
                        color: #fff;
                        display: inline-block;
                        padding: 4px;
                        font-size: 10px;
                        border-radius: 3px;
                        text-align: center;
                        font-weight: 400;
                        margin-left: 5px;
                        min-width: 20px;

                        &.very-high {
                            background: #e74c3c;
                        }

                        &.high {
                            background: #e67e22;
                        }

                        &.medium {
                            background: #e6bb0e;
                        }

                        &.low {
                            background: #27ae60;
                        }

                        &.low-importance {
                            background: #3498db;
                        }

                    }

                }

            }

            &:hover {
                background-color: $tr-hover-color;
            }

            &.tbody-tr-header {
                background-color: $tbody-tr-header-bg;

                td {
                    color: $tbody-tr-header-color;
                    font-weight: 600;
                }

            }

            &.inactive-row {
                td {
                    color: #aaa;
                }

            }

        }

    }

    > tfoot {
        > tr {
            > td {
                border-bottom: 0;
                border: 1px solid $tbl-border-color;
                border-top-width: 2px;
                font-weight: 600;
                color: $th-color;
                padding: 15px;
                vertical-align: middle;
                white-space: nowrap;
                height: 30px;
            }

        }

        &.tfoot-total {
            background-color: #303030;

            > tr {
                > td {
                    color: $white-color;
                    border-top-width: 1px;
                    border-color: #444;
                }

                &.total-row {
                    > td,
                    a {
                        color: #d7a40c;
                    }

                }

            }

        }

    }

    .ico-lnk {
        display: inline-block;
        text-align: center;
        line-height: 0;
        padding: 0 5px;
        opacity: 0.8;
        vertical-align: middle;
        @extend .transition;

        &::after {
            display: inline-block;
            text-align: center;
        }

        &:hover {
            opacity: 1;
        }

        &.remark-ico {
            &::after {
                content: url("../img/remark-ico.png");
            }

        }

        &.file-format-ico {
            &::after {
                content: url("../img/file-format-ico.png");
            }

        }

        &.edit-ico {
            &::after {
                content: url("../img/edit-ico.png");
            }

        }

        &.view-ico {
            &::after {
                content: url("../img/view-ico.png");
            }

        }

        &.move-ico {
            &::after {
                content: url("../img/move-ico.png");
            }

        }

        &.delete-ico {
            &::after {
                content: url("../img/delete-ico.png");
            }

        }

        &.download-ico {
            &::after {
                content: url("../img/download-ico.png");
            }

        }

        &.privileges-ico {
            &::after {
                content: url("../img/privileges-ico.png");
            }

        }

        &.add-ico {
            &::after {
                content: url("../img/add-ico.png");
            }

        }

        &.search-ico {
            &::after {
                content: url("../img/search-ico.png");
            }

        }

        &.reset-ico {
            &::after {
                content: url("../img/reset-ico.png");
            }

        }

        &.save-ico {
            &::after {
                content: url("../img/save-ico.png");
            }

        }

        &.settlement-bank-dtl-ico {
            &::after {
                content: url("../img/settlement-bank-dtl-ico.png");
            }

        }

        &.add-payment-option-ico {
            &::after {
                content: url("../img/add-payment-option-ico.png");
            }

        }

        &.domestic-ico {
            &::after {
                content: url("../img/domestic-ico.png");
            }

        }

        &.international-ico {
            &::after {
                content: url("../img/international-ico.png");
            }

        }

        &.both-di-ico {
            &::after {
                content: url("../img/both-di-ico.png");
            }

        }

        &.highest-ico {
            &::after {
                content: url("../img/both-max-ico.png");
            }

        }

        &.lowest-ico {
            &::after {
                content: url("../img/both-min-ico.png");
            }

        }

        &.flat-ico {
            &::after {
                content: url("../img/flat-ico.png");
            }

        }

        &.percentage-ico {
            &::after {
                content: url("../img/percentage-ico.png");
            }

        }

        &.both-fp-ico {
            &::after {
                content: url("../img/both-fp-ico.png");
            }

        }

        &.bank-ico {
            &::after {
                content: url("../img/bank-ico.png");
            }

        }

        &.cc-avenue-ico {
            &::after {
                content: url("../img/cc-avenue-ico.png");
            }

        }

        &.both-cb-ico {
            &::after {
                content: url("../img/both-cb-ico.png");
            }

        }

        &.merchant-ico {
            &::after {
                content: url("../img/merchant-ico.png");
            }

        }

    }

    .status {
        padding: 0 10px;
        font-size: 11px;
        text-align: center;
        margin: 0 auto;
        font-weight: 600;
        border-radius: 4px;
        color: rgba($white-color, 1);
        text-transform: uppercase;
        min-height: 22px;
        line-height: 22px;
        border: 1px solid rgba($black-color, 0.1);

        &.active {
            background: #00ae5f;
            width: 100px;
        }

        &.inactive {
            background: #505050;
            width: 100px;
        }

        &.activated {
            background: #00ae5f;
            width: 100px;
        }

        &.disapproved {
            background: #e34934;
            width: 100px;
        }

        &.suspended {
            background: #eabd10;
            width: 100px;
        }

        &.terminated {
            background: #9556af;
            width: 100px;
        }

        &.fluctuate {
            width: 100px;
            animation: blinkingbg 0.8s infinite;

            @-webkit-keyframes blinkingbg {
                0%,
                49% {
                    background-color: #00ae5f;
                }

                50%,
                100% {
                    background-color: #e34934;
                }

            }

        }

        &.down {
            background: #e34934;
            width: 100px;
        }

    }

    .tbl-desc {
        min-width: 250px;
        white-space: normal;
    }

    ul.tbl-bullets {
        list-style-position: inside;
        display: table-cell;
        padding: 0;

        > li {
            margin-bottom: 4px;
        }

    }

    .form-group {
        margin-bottom: 0;

        .form-control {
            padding: 6px 10px;
        }

        .bootstrap-select {
            &.form-control {
                padding: 0;
            }

            > .dropdown-toggle {
                padding: 6px 10px;
            }

        }

        .button-custom-selectpicker {
            .dropdown-toggle {
                padding: 6px 10px;
            }

        }

    }

}

/*===listing-table Switch===*/
table.listing-table {
    thead tr th,
    tbody tr td,
    tfoot tr td {
        .switch {
            display: block;
            margin: 0 auto;
        }

    }

}

/*=== DATATABLE ===*/
.list-row-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    .page-length {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;

        @media (max-width:$max-sm) {
            flex-basis: 100%;
        }

    }

    .keyword-search {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;

        @media (max-width:$max-sm) {
            flex-basis: 100%;
            margin: 10px 0;
        }

    }

    .export-btns {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: auto;

        @media (max-width:$max-md) {
            .dt-buttons {
                margin-bottom: 0;
            }

        }

        @media (max-width:$max-sm) {
            flex-basis: 100%;

            .dt-buttons {
                display: inherit;
            }

        }

    }

}

.list-row-body {
    margin-top: 15px;
    margin-bottom: 15px;
}

.list-row-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    @media (max-width:$max-md) {
    }

    .show-entry {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;

        .dataTables_info {
            padding: 0;
        }

        @media (max-width:$max-md) {
            flex-basis: 100%;
            margin-bottom: 10px;

            .dataTables_info {
                text-align: center;
            }

        }

    }

    .list-pagination {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;

        @media (max-width:$max-md) {
            flex-basis: 100%;

            div.dataTables_paginate ul.pagination {
                justify-content: center;
            }

        }

    }

}

.dataTables_wrapper {
    + .dataTables_wrapper {
        margin-top: 20px;
    }

}

table.listing-table.dataTable {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

table.listing-table.fixedHeader-floating {
    box-shadow: 0 8px 18px -11px $black-color;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    font-size: 14px;
    opacity: 0.5;
}

table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

div.dataTables_wrapper {
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before,
    table.dataTable thead .sorting_desc_disabled:after {
        bottom: 16px;
    }

    .dt-buttons {
        margin-left: 15px;

        .btn.btn-theme-secondary {
            min-width: auto;
            text-align: left;
            color: $content-color;
            border-color: $control-border-color;
            font-size: 13px;

            &::after {
                margin-left: 10px;
            }

            &:hover,
            &:focus {
                background: none;
                background: rgba($black-color, 0.02);
            }

            &.disabled {
                cursor: not-allowed;
                background: $control-disabled-bg;
                color: initial;
            }

        }

        .dropdown-menu {
            min-width: 109px;
        }

    }

    .dataTables_filter {
        position: relative;

        label {
            margin-bottom: 0;

            input[type="search"] {
                margin-left: 10px;
                border-radius: 4px;
                padding: 9px 12px;
                width: auto;

                @media (min-width:$min-md) {
                    width: 300px;
                }

            }

        }

    }

    .dataTables_length {
        label {
            margin-bottom: 0;

            select.custom-select {
                margin: 0 10px;
                border-radius: 4px;
                width: 90px;
                padding: 9px 12px;

                &:disabled {
                    cursor: not-allowed;
                }

            }

        }

    }

    div.dataTables_paginate {
        ul.pagination {
            .page-item {
                .page-link {
                    border: 1px solid $border-color;
                    color: $content-color;
                    padding: 9px 12px;
                    line-height: normal;

                    &:hover {
                    }

                    &:focus {
                    }

                }

                &.active {
                    .page-link {
                        background-color: $primary-color;
                        color: $white-color;
                    }

                }

                &.disabled {
                    .page-link {
                        background-color: #f5f5f5;
                        color: $sub-content-color;
                    }

                }

            }

        }

    }

}

.DTFC_ScrollWrapper table.listing-table > thead > tr:last-child {
    border-bottom: 0;
}

/*===listing-table > dtl-slide-collapse > table ===*/
table.listing-table {
    > tbody {
        > tr {
            td {
                &.dtl-slide-clk {
                    background: url("../img/plus-ico.png") no-repeat center center;
                    cursor: pointer;
                }

                div.slide-tbl {
                    > table.table {
                        margin-bottom: 0;
                        width: 100%;
                        max-width: 500px;

                        > thead {
                            > tr {
                                > th {
                                    border-top: 0;
                                    border: 1px solid $tbl-border-color;
                                    font-weight: 600;
                                    color: $th-color;
                                    padding: 8px 10px;
                                    vertical-align: middle;
                                    white-space: nowrap;
                                    height: auto;
                                    background: $section-heading-bg;
                                }

                                &:hover {
                                    background: none;
                                }

                            }

                        }

                        > tbody {
                            > tr {
                                > td {
                                    border-top: 0;
                                    border: 1px solid $border-color;
                                    color: $td-color;
                                    padding: 8px 10px;
                                    vertical-align: top;
                                    font-size: 13px;
                                    white-space: nowrap;
                                }

                                &:hover {
                                    background: none;
                                }

                            }

                        }

                    }

                }

            }

        }

        > tr.dtl-slide-collapse {
            background-color: #f9fafc;

            > td {
                &.dtl-slide-clk {
                    background: url("../img/minus-ico.png") no-repeat center center;
                }

            }

        }

    }

}
