/*===MARGIN 0 ===*/
.margin-t-0 {
	margin-top: 0px;
}

.margin-r-0 {
	margin-right: 0px;
}

.margin-b-0 {
	margin-bottom: 0px;
}

.margin-l-0 {
	margin-left: 0px;
}

/*===MARGIN 5 ===*/
.margin-t-5 {
	margin-top: 5px;
}

.margin-r-5 {
	margin-right: 5px;
}

.margin-b-5 {
	margin-bottom: 5px;
}

.margin-l-5 {
	margin-left: 5px;
}

/*===MARGIN 10 ===*/
.margin-t-10 {
	margin-top: 10px;
}

.margin-r-10 {
	margin-right: 10px;
}

.margin-b-10 {
	margin-bottom: 10px;
}

.margin-l-10 {
	margin-left: 10px;
}

/*===MARGIN 15 ===*/
.margin-t-15 {
	margin-top: 15px;
}

.margin-r-15 {
	margin-right: 15px;
}

.margin-b-15 {
	margin-bottom: 15px;
}

.margin-l-15 {
	margin-left: 15px;
}

/*===MARGIN 20 ===*/
.margin-t-20 {
	margin-top: 20px;
}

.margin-r-20 {
	margin-right: 20px;
}

.margin-b-20 {
	margin-bottom: 20px;
}

.margin-l-20 {
	margin-left: 20px;
}

/*===PADDING 0 ===*/
.padding-t-0 {
	padding-top: 0;
}

.padding-r-0 {
	padding-right: 0;
}

.padding-b-0 {
	padding-bottom: 0;
}

.padding-l-0 {
	padding-left: 0;
}
