/*=== MODAL ===*/
.modal {
	.modal-dialog {
		.modal-content {
			border: 1px solid rgba($black-color, 0.2);
			background-color: $white-color;
			border-radius: 4px;
			box-shadow: 0 0 10px rgba($black-color, 0.2);

			.modal-header {
				border-bottom: 1px solid $modal-border-color;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				padding: 15px;

				.modal-title {
					font-size: 20px;
					color: $modal-title-color;
				}

				.close {
					padding: 10px;
					margin: -10px -10px -10px auto;
					font-size: 26px;
					font-weight: normal;
					outline: 0;
					text-decoration: none;
					color: $black-color;
					opacity: 0.7;

					&:focus {
						outline: 0;
						text-decoration: none;
					}

				}

			}

			.modal-body {
				padding: 15px;
			}

			.modal-footer {
				padding: 15px;
				border-top: 1px solid $modal-border-color;
				font-size: 0;
				background-color: $modal-footer-bg;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;

				> .btn:not(:last-child) {
					margin-right: 8px;
				}

			}

		}

		&.modal-lg {
			max-width: 1000px;
		}

		&.modal-sm {
			max-width: 400px;
		}

		&.modal-md {
			max-width: 600px;
		}

	}

}
