/*=======PAGE TOP TABS===========*/
.tabs-nav-container {
	overflow-x: auto;
	overflow-y: hidden;
	border-radius: 4px;
	margin-bottom: 15px;
	position: static;
	transition: all 1s;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	background: $tabs-bg;

	&.fixed-tabs-nav {
		&.fixed {
			width: 100%;
			position: fixed;
			border-radius: 0;
			z-index: 100;
			left: 0;
			top: 0;
		}

	}

	.tabs-nav {
		font-size: 0;
		display: table;

		.tabs-link {
			padding: 15px;
			display: table-cell;
			min-width: 120px;
			text-align: center;
			text-decoration: none;
			position: relative;
			font-size: 13px;
			color: $tabs-link-color;
			font-weight: 600;
			text-transform: uppercase;
			white-space: nowrap;
			@extend .transition;

			&::after {
				content: '';
				display: block;
				width: 0;
				height: 4px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				@extend .transition;
			}

			&:hover {
				color: $white-color;
			}

			&.active {
				color: $white-color;

				&::after {
					width: 100%;
					background: $tabs-link-active-border;
				}

			}

		}

	}

}

.tabs-data-container {
	position: relative;

	.tabs-data {
		display: none;

		.tab-content {
			width: 100%;
			position: relative;
		}

		&.active {
			display: block;
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;
			-webkit-animation-duration: 2s;
			animation-duration: 2s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		@-webkit-keyframes fadeIn {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}

		}

		@keyframes fadeIn {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}

		}

	}

}
