/*=== PRELOADING ===*/
.overlayer {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1060;
	background: #fff;
	top: 0;
}

.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 1061;
	border: 4px solid #3c8dbc;
	top: 400px;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: loader 2s infinite ease;

	.loader-inner {
		vertical-align: top;
		display: inline-block;
		width: 100%;
		background-color: #3c8dbc;
		animation: loader-inner 2s infinite ease-in;
	}

}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(180deg);
	}

	50% {
		transform: rotate(180deg);
	}

	75% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

@keyframes loader-inner {
	0% {
		height: 0%;
	}

	25% {
		height: 0%;
	}

	50% {
		height: 100%;
	}

	75% {
		height: 100%;
	}

	100% {
		height: 0%;
	}

}
