/*===search-section===*/
.search-section {
	background-color: $white-color;
	margin-bottom: 15px;
	border-radius: 4px 4px 0 0;
	margin-bottom: 0;
	border-bottom: 1px solid $border-color;
	position: relative;
	z-index: 2;
	@extend .box-shadow;

	+ .listing-section {
		border-radius: 0 0 4px 4px;
		@extend .box-shadow;
	}

	.search-heading {
		display: flex;
		flex-wrap: wrap;
		min-height: 60px;
		position: relative;
		cursor: pointer;
		align-items: center;
		justify-content: space-between;
		padding: 15px;

		&::after {
			content: '';
			position: absolute;
			background-image: url("../img/up-down-arrow.png");
			background-position: center center;
			background-repeat: no-repeat;
			transform: rotate(0deg);
			cursor: pointer;
			height: 25px;
			width: 25px;
			right: 17px;
			top: 17px;
			background-size: 14px;
		}

		.title {
			font-size: 15px;
			position: relative;
			font-weight: 600;
			text-transform: uppercase;

			i {
				margin-right: 10px;
			}

		}

		.btns {
			text-align: right;
			display: none;

			.btn {
				padding: 3px 10px;

				&.btn-theme-primary {
					background: #ff146c;
				}

			}

			> .btn:not(:last-child) {
				margin-right: 10px;
			}

		}

	}

	.search-content {
		padding-bottom: -20px;
		border-top: 1px solid $srch-border-color;
		margin-bottom: -1px;
		margin-bottom: 15px;
		padding: 25px 25px 5px 25px;
		position: absolute;
		left: 0;
		right: 0;
		background: $white-color;
		border-radius: 0 0 4px 4px;
		margin-bottom: 15px;

		.link-data {
			display: none;

			&.active {
				display: flex;
			}

		}

		.form-group {
			margin-bottom: 20px;
		}

	}

	.search-footer {
		padding-top: 15px;
		border-top: 1px solid $srch-border-color;
		font-size: 0;
		text-align: right;

		> .btn:not(:last-child) {
			margin-right: 10px;
		}

	}

	&.active {
		+ .listing-section {
			filter: blur(2px);
		}

		.search-heading {
			.btns {
				display: flex;

				@media (max-width:$max-md) {
					display: none;
				}

				@media (max-width:$max-sm) {
					margin-top: 15px;
				}

			}

			&::after {
				transform: rotate(180deg);
				display: flex;

				@media (min-width:$min-md) {
					display: none;
				}

			}

		}

		.search-content {
			.btns {
				padding: 15px 25px;
				padding-top: 0;
				margin: 0 -25px;
				text-align: right;
				display: block;

				.btn {
					margin-left: 10px;
				}

				@media (min-width:$min-md) {
					display: none;
				}

			}

		}

	}

}
