.sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1040;
    background: #1E2333;
    @extend .transition;

    @media (max-width:$max-xl) {
        left: -260px;
    }

    .sidebar-header {
        padding: 0 25px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .brand-logo {
            font-size: 20px;
            color: #fff;

            svg {
                width: 130px;

                .primary-color {
                    fill: #385aeb;
                }

                .secondary-color {
                    fill: #fff;
                }

            }

        }

        .desktop-toggler-click {
            position: relative;
            width: 26px;
            height: 26px;
            cursor: pointer;
            @extend .transition;

            @media (max-width:$max-xl) {
                display: none;
            }

            span {
                display: block;
                background: #484f66;
                position: absolute;
                top: 12px;
                height: 2px;
                min-height: 2px;
                width: 100%;
                border-radius: 2px;
                @extend .transition;

                &::before,
                &::after {
                    background: #484f66;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    min-height: 2px;
                    content: "";
                    border-radius: 2px;
                    @extend .transition;
                }

                &::before {
                    top: -8px;
                    left: auto;
                    right: 0;
                    width: 50%;
                }

                &::after {
                    bottom: -8px;
                    left: auto;
                    right: 0;
                    width: 75%;
                }

            }

            &.active {
                span {
                    background: #fff;

                    &::before,
                    &::after {
                        background: #fff;
                        left: auto;
                        right: 0;
                    }

                    &::before {
                        left: 0;
                        right: auto;
                    }

                    &::after {
                        left: 0;
                        right: auto;
                    }

                }

            }

            &:hover {
                span {
                    background: #fff;

                    &::before,
                    &::after {
                        background: #fff;
                    }

                    &::before {
                        width: 100%;
                    }

                    &::after {
                        width: 100%;
                    }

                }

            }

        }

        .mobile-tab-close-sidebar {
            position: relative;
            width: 18px;
            height: 18px;
            cursor: pointer;
            display: none;

            @media (max-width:$max-xl) {
                display: block;
            }

            span {
                display: block;
                background: #484f66;
                position: absolute;
                top: 8px;
                min-height: 0;
                width: 100%;

                &::before,
                &::after {
                    background: #989eb3;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    min-height: 2px;
                    content: "";
                    border-radius: 2px;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }

            }

        }

    }

    > ul.sidebar-menu {
        margin: 0;
        padding: 0;
        height: calc(100% - 75px);

        li {
            list-style-type: none;

            > a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 15px 25px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                background: transparent;
                color: #989eb3;
                position: relative;
                @extend .transition;
                white-space: nowrap;
                flex-wrap: nowrap;
                position: relative;

                .menu-ico {
                    width: 23px;
                    height: 23px;
                    flex: 0 0 23px;

                    svg {
                        .primary-color {
                            fill: #385aeb;
                            opacity: 0.5;
                            @extend .transition;
                        }

                        .secondary-color {
                            fill: #223484;
                            opacity: 0.5;
                            @extend .transition;
                        }

                    }

                }

                .menu-name {
                    margin-left: 15px;
                    flex: 1 1 auto;
                    @extend .fadeIn;
                }

                .menu-arrow {
                    width: 10px;
                    height: 10px;
                    flex: 0 0 10px;
                    transform: rotate(0deg);
                    @extend .transition;

                    svg {
                        vertical-align: top;

                        .arrow-color {
                            fill: #989eb3;
                        }

                    }

                }

                &:hover {
                    .menu-ico {
                        svg {
                            .primary-color {
                                fill: #2C4287;
                                opacity: 1;
                            }

                            .secondary-color {
                                fill: #4166DF;
                                opacity: 1;
                            }

                        }

                    }

                }

            }

            > ul.submenu {
                margin: 0;
                padding: 0;
                position: relative;
                max-height: 0px;
                opacity: 0;
                overflow: hidden;
                @extend .transition;

                > li {
                    list-style-type: none;
                    position: relative;
                    @extend .transition;
                    position: relative;
                    @extend .fadeIn;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 4px;
                        width: 4px;
                        border-radius: 4px;
                        background: #989eb3;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                        left: 25px;
                        z-index: 1;
                    }

                    > a {
                        display: inline-block;
                        width: 100%;
                        padding: 5px 25px 5px 40px;
                        text-decoration: none;
                        color: #989eb3;
                        @extend .transition;
                        font-size: 13px;
                        font-weight: 400;
                        text-transform: initial;
                        position: relative;
                    }

                    &:hover {
                        > a {
                            color: #fff;
                            background: transparent;
                        }

                        &::before {
                            background: #fff;
                        }

                    }

                    &.active {
                        > a {
                            color: #fff;
                            background: transparent;
                        }

                        &::before {
                            background: #fff;
                        }

                    }

                }

            }

            &:hover {
                > a {
                    color: #fff;
                }

            }

            &.active {
                > a {
                    color: #fff;
                    background: #1b1f2b;

                    .menu-ico {
                        svg {
                            .primary-color {
                                fill: #2C4287;
                                opacity: 1;
                            }

                            .secondary-color {
                                fill: #4166DF;
                                opacity: 1;
                            }

                        }

                    }

                    .menu-arrow {
                        transform: rotate(-180deg);

                        svg {
                            .arrow-color {
                                fill: #fff;
                            }

                        }

                    }

                }

                > ul.submenu {
                    padding: 5px 0 15px 0;
                    max-height: 1000px;
                    overflow: visible;
                    opacity: 1;
                    background: #1b1f2b;
                }

            }

        }

    }

}
