/*==-OVERLAY-SLIDE==*/
.slide-overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba($black-color, 0.4);
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	@extend .transition;
}

.slide-section {
	background: $white-color;
	height: 100%;
	max-width: 700px;
	z-index: 1060;
	position: fixed;
	top: 0;
	right: -100%;
	padding-top: 75px;
	@extend .transition;

	.slide-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 25px;
		min-height: 75px;
		border-bottom: 1px solid $slide-border-color;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;

		.slide-title {
			font-size: 22px;
			color: $slide-title-color;
		}

		.close[data-dismiss="slide"] {
			padding: 10px;
			font-size: 28px;
			font-weight: 400;
			outline: 0;
			text-decoration: none;
		}

	}

	.slide-body {
		padding: 25px;
		height: 100%;
		overflow-y: auto;
	}

	.slide-footer {
		padding: 0 25px;
		border-top: 1px solid $slide-border-color;
		font-size: 0;
		background-color: $slide-footer-bg;
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		min-height: 75px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.btn {
			font-size: 14px;
		}

		.btn:not(:last-child) {
			margin-right: 10px;
		}

		> .row {
			margin-right: -7.5px;
			margin-left: -7.5px;

			> .col,
			> [class*="col-"] {
				padding-right: 7.5px;
				padding-left: 7.5px;
			}

		}

	}

}

body.slide {
	height: 100%;
	padding-right: 17px;
	overflow: hidden;

	.slide-overlay {
		z-index: 1060;
		opacity: 1;
	}

	.slide-section {
		right: 0;
	}

}
