//****************************************************
// RESPONSIVE
//****************************************************
//Maximum Width
$max-xl: 1199.98px;
$max-lg: 991.98px;
$max-md: 767.98px;
$max-sm: 575.98px;

//Minimum Width
$min-xl: 1200px;
$min-lg: 992px;
$min-md: 768px;
$min-sm: 576px;

//****************************************************
// COMMON
//****************************************************
$font-heading: "Open Sans";
$font-body: "Open Sans";
$body-bg: #f2f3f8;
$primary-color: #5d78ff;
$secondary-color: #ff146c;
$white-color: #ffffff;
$red-color: #dc3545;
$black-color: #000000;
$body-color: #121d31;
$content-color: #3d4465;
$sub-content-color: #a1a8c3;
$border-color: #ebedf7;
$link-color: #5d78ff;

//****************************************************
// BUTTONS
//****************************************************
$btn-primary-color: #5d78ff;
$btn-danger-color: #dc3545;
$btn-secondary-color: #ffffff;
$btn-secondary-border-color: #d7d9e4;

//****************************************************
// CONTENT-HEADER
//****************************************************
$cont-hd-title: #121d31;
$cont-hd-border: #d0d4da;
$breadcrumb-link: #5d78ff;

//****************************************************
// CUSTOM CHECKBOX AND RADIO
//****************************************************
$chk-bg: #ffffff;
$chk-border-color: #a8b3c4;
$chkd-bg: #5d78ff;
$chkd-border-color: #5d78ff;
$chkd-tick: #fff;
$dis-chk-bg: #eff3f9;
$dis-chk-border-color: #cfd9e7;
$dis-chk-tick: #9f9f9f;
$chk-text-color: #454545;

//****************************************************
// DETAILS-PAGE-SEC
//****************************************************
$hdr-title-color: #ff146c;
$hdr-desc-color: #a1a8c3;

//CONTENT-SUB-HEADER
$sub-hd-lbl-color: #121d31;
$sub-hd-dtl-color: #6e808b;

//****************************************************
// FORM-CONTROLS
//****************************************************
$control-label-color: #121d31;
$control-text-color: #6e808b;
$control-border-color: #d7d9e4;
$control-placeholder: #ccc;
$control-hover-color: #f0f1f7;
$input-append-prepend: #f0f3fa;
$input-append-prepend-text: #454545;
$control-disabled-bg: #f0f1f7;
$control-disabled-border: #dbe2ec;
$control-disabled-text-color: #a7b9c3;

//****************************************************
// FORM-CONTROL VALIDATION
//****************************************************
$valid-color: #00ae5f;
$error-color: #dd454c;

//****************************************************
// SWITCHES
//****************************************************
$switch-bg: #e8ecf3;
$switch-check-bg: #5d78ff;
$switch-border-color: #bdc4cf;
$switch-text-color: #121d31;
$dis-switch-border-color: #cfd9e7;
$dis-switch-text-color: #9f9f9f;
$dis-switch-bg: #f1f4fa;

//****************************************************
// TOGGLER CHK
//****************************************************
$chk-toggler-bg: #5d78ff;
$chk-toggler-mark: #ffffff;
$unchk-toggler-bg: #e0e0e0;
$unchk-toggler-mark: #ffffff;

//****************************************************
// FORM-PAGE
//****************************************************
$form-title: #ff146c;
$form-desc: #6e808b;

//****************************************************
// LISTING TABLE
//****************************************************
$tbl-border-color: #d7d9e4;
$th-color: #121d31;
$td-color: #646c9a;
$tr-hover-color: #f9fafc;
$tbody-tr-header-color: #5d78ff;
$tbody-tr-header-bg: #e3eaf1;
$section-heading-bg: #dae4ec;

//****************************************************
// MODAL POPUP
//****************************************************
$modal-title-color: #5d78ff;
$modal-border-color: #d0d4da;
$modal-footer-bg: #e3eaf1;

//****************************************************
// PAGE TABS
//****************************************************
$tabs-bg: #5d78ff;
$tabs-link-color: rgba(255, 255, 255, 0.5);
$tabs-link-active-color: rgba(255, 255, 255, 1);
$tabs-link-active-border: rgba(255, 255, 255, 1);

//****************************************************
// SEARCH-SECTION
//****************************************************
$srch-border-color: #ebedf7;

//****************************************************
// SLIDE-SECTION
//****************************************************
$slide-title-color: #5d78ff;
$slide-border-color: #d0d4da;
$slide-footer-bg: #e3eaf1;

//*************************@EXTEND**********************************************//

//*********************
// TRANSITION
//*********************
.transition {
transition: all 300ms ease-in-out;
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
}

//*********************
// BOX-SHADOW
//*********************

.box-shadow {
box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
-webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
-moz-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
-o-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}

//*********************
// FADE-IN
//*********************

.fadeIn {
animation: fadeIn 1s ease;
-moz-animation: fadeIn 1s ease;
-webkit-animation: fadeIn 1s ease;
-o-animation: fadeIn 1s ease;
}

//*********************
// CHECKMARK-TRANSACTION (Checkbox-Radiobox)
//*********************

.checkmark-transaction {
-webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
-moz-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
-ms-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
-o-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

//*********************
// USER SELECT NONE
//*********************

.user-select-none {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

//*********************
// TEXT BACKGROUND ANIMATION
//*********************

.slide-shine {
animation: slide-shine 2s linear infinite;
-moz-animation: slide-shine 2s linear infinite;
-webkit-animation: slide-shine 2s linear infinite;
-o-animation: slide-shine 2s linear infinite;
}
