body {
    .sidebar-overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(36, 41, 57, 0.5);
        z-index: 1030;
        cursor: pointer;
        @extend .transition;
    }

    .wrapper {
        width: calc(100% - 260px);
        margin-left: 260px;
        margin-top: 75px;
        margin-bottom: 60px;
        transition: all 300ms ease;

        @media (max-width:$max-xl) {
            width: 100%;
            margin-left: 0;
        }

        .content-loader {
            position: fixed;
            width: calc(100% - 260px);
            height: 100%;
            left: 260px;
            top: 75px;
            right: 0;
            bottom: 0;
            z-index: 1030;
            cursor: pointer;
            background: url("../img/content-loader.gif") no-repeat center rgba(255, 255, 255, 1);
            display: none;

            @media (max-width:$max-xl) {
                width: 100%;
                left: 0;
            }

        }

        .content {
            width: 100%;

            .content-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                background-color: rgba(36, 41, 57, 0.5);
                opacity: 0;
                z-index: -1;
                @extend .transition;

                &.active {
                    opacity: 1;
                    z-index: 1;
                }

            }

            .content-wrapper {
                padding: 25px;
                @extend .fadeIn;

                @media (max-width:$max-lg) {
                    padding: 15px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 75px;
                    left: 0;
                    background-image: url("../img/content-bg.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 250px;
                    z-index: -1;
                }

                &.center-lg {
                    max-width: 1280px;
                    margin: auto;
                }

                .main-content {
                    padding-top: 25px;

                    @media (max-width:$max-lg) {
                        padding-top: 15px;
                    }

                }

            }

        }

    }

    &.desktop-sidebar {
        .wrapper {
            width: calc(100% - 80px);
            margin-left: 80px;

            @media (max-width:$max-xl) {
                width: 100%;
                margin-left: 0;
            }

            .content-loader {
                width: calc(100% - 80px);
                left: 80px;

                @media (max-width:$max-xl) {
                    width: 100%;
                    left: 0;
                }

            }

            .header {
                width: calc(100% - 80px);
                left: 80px;

                @media (max-width:$max-xl) {
                    width: 100%;
                    left: 0;
                }

            }

            .sidebar {
                width: 80px;

                @media (max-width:$max-xl) {
                    width: 260px;
                    left: -260px;
                }

                .sidebar-header {
                    .brand-logo {
                        display: none;
                    }

                }

                ul.sidebar-menu {
                    .menu-name,
                    .menu-arrow {
                        display: none;
                    }

                    li.active {
                        a {
                            .menu-ico {
                                position: relative;

                                &::before {
                                    content: '';
                                    position: absolute;
                                    height: 6px;
                                    width: 6px;
                                    border-radius: 6px;
                                    background: #5d78ff;
                                    margin: auto;
                                    top: 0;
                                    bottom: 0;
                                    right: -15px;
                                    z-index: 1;
                                }

                            }

                        }

                        > ul.submenu {
                            padding: 0;
                            max-height: 0;
                            overflow: hidden;
                            opacity: 0;
                        }

                    }

                }

            }

            .footer {
                width: calc(100% - 80px);
                left: 80px;

                @media (max-width:$max-xl) {
                    width: 100%;
                    left: 0;
                }

            }

        }

    }

    &.mobile-tab-sidebar {
        .wrapper {
            width: 100%;
            margin-left: 0;

            .content-loader {
                width: 100%;
                left: 0;
            }

            .header {
                width: 100%;
                left: 0;
            }

            .sidebar {
                width: 260px;
                left: 0;
            }

            .footer {
                width: 100%;
                left: 0;
            }

        }

    }

    &.hover-sidebar {
        .wrapper {
            .sidebar {
                width: 260px;

                .sidebar-header {
                    .brand-logo {
                        display: block;
                    }

                }

                ul.sidebar-menu {
                    .menu-name,
                    .menu-arrow {
                        display: inline-block;
                    }

                    li.active {
                        a {
                            .menu-ico {
                                position: relative;

                                &::before {
                                    display: none;
                                }

                            }

                        }

                        > ul.submenu {
                            padding: 15px 0;
                            max-height: 1000px;
                            overflow: visible;
                            opacity: 1;
                        }

                    }

                }

            }

        }

    }

    .session-overlay {
        display: none;
    }

    &.session-expired {
        overflow: hidden;
        padding-right: 17px;

        .session-overlay {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(36, 41, 57, 0.9);
            z-index: 1080;
            @extend .transition;

            .session-login-bx {
                display: flex;
                flex-direction: column;
                border-radius: 4px;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 400px;
                padding: 0 20px;

                .head {
                    width: 100%;
                    text-align: center;
                    font-size: 22px;
                    font-weight: 400;
                    position: relative;
                    padding: 10px 0;
                    margin-bottom: 15px;
                    color: #fff;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        height: 3px;
                        max-width: 80px;
                        background: #5d78ff;
                    }

                }

                .sub-head {
                    width: 100%;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 400;
                    color: #fff;
                }

                .log-control-group {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 15px 0;
                    width: 100%;

                    .log-input {
                        border: 0;
                        border-radius: 4px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        padding: 10px;
                        background: #fff;
                        flex-grow: 1;
                        flex-shrink: 1;

                        &:focus {
                            box-shadow: none;
                            outline: 0;
                            border: 0;
                        }

                    }

                    .log-btn {
                        padding: 10px 15px;
                        background: #5d78ff;
                        color: #fff;
                        text-decoration: none;
                        border-radius: 4px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        text-align: center;
                        flex-basis: 100px;
                    }

                }

                .log-diff-user {
                    a {
                        text-decoration: underline;
                        color: #fff;
                        transition: all 300ms ease;

                        &:hover {
                            color: #5d78ff;
                        }

                    }

                }

            }

        }

    }

}
