@import "_variables.scss";
@import "_animation.scss";

html {
    position: relative;
    min-height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
}

.login-bg {
    background: url("../img/login-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: relative;

    .header {
        padding: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        .logo {
            svg {
                width: 130px;

                .primary-color {
                    fill: #385aeb;
                }

                .secondary-color {
                    fill: #fff;
                }

            }

        }

        .new-acc-lnk {
            color: rgba(255, 255, 255, 0.5);
            font-size: 14px;
            display: none;

            &.active {
                display: block;
            }

            .link {
                color: #fff;
                text-decoration: none;
                position: relative;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    top: 1rem;
                    left: 0;
                    border-bottom: 1px solid #fff;
                    opacity: 0.5;
                    width: 0%;
                    -webkit-transition: width 0.3s ease;
                    transition: width 0.3s ease;
                }

                &:hover {
                    color: rgba(255, 255, 255, 1);

                    &::after {
                        width: 100%;
                    }

                }

            }

        }

    }

    .login-box {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .login-info {
            padding: 40px;
            flex: 1;

            .title {
                text-align: left;
                font-size: 28px;
                color: #fff;
                font-weight: 400;
                line-height: 35px;
            }

            .sub-title {
                text-align: left;
                font-size: 13px;
                color: rgba(255, 255, 255, 0.5);
                font-weight: 400;
                margin-top: 20px;
            }

        }

        .break-line {
            background-color: rgba(255, 255, 255, 0.1);
            height: 450px;
            width: 1px;
            flex: none;
            margin: 0 30px;
        }

        .login-form {
            padding: 40px;
            flex: 1;
            display: none;
            @extend .fadeIn;

            &.active {
                display: block;
            }

            .head {
                color: #fff;
                text-align: center;
                margin: 0 0 30px 0;
                font-size: 22px;
            }

            .form-group {
                margin-bottom: 30px;

                .form-conrol {
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    padding: 10px 25px;
                    border-radius: 46px;
                    height: 46px;
                    width: 100%;
                    background: transparent;
                    font-size: 13px;
                    outline: 0;
                    color: #fff;

                    &::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                    }

                    &:focus {
                        -webkit-box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
                        box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
                    }

                }

            }

            .form-action {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .link {
                    color: rgba(255, 255, 255, 0.5);
                    text-decoration: none;
                    @extend .transition;
                    position: relative;

                    &::after {
                        display: block;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        top: 1rem;
                        left: 0;
                        border-bottom: 1px solid #fff;
                        opacity: 0.5;
                        width: 0%;
                        -webkit-transition: width 0.3s ease;
                        transition: width 0.3s ease;
                    }

                    &:hover {
                        color: rgba(255, 255, 255, 1);

                        &::after {
                            width: 100%;
                        }

                    }

                }

                .btn-log-in-up {
                    padding: 12px 40px;
                    border-radius: 60px;
                    color: #fff;
                    background-color: #ff146c;
                    font-size: 14px;
                    text-decoration: none;
                    @extend .transition;
                    font-weight: 400;
                    outline: 0;

                    &.btn-full {
                        width: 100%;
                        text-align: center;
                    }

                    &:hover {
                        background-color: #ce0a54;
                    }

                    &:focus {
                        -webkit-box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
                        box-shadow: 0 0 0 2px rgba(88, 103, 221, 0.25);
                    }

                }

            }

            .or-section {
                position: relative;
                padding: 20px 0;
                display: flex;
                flex-direction: row;
                align-items: center;

                .line {
                    width: 100%;
                    height: 1px;
                    background: rgba(255, 255, 255, 0.1);
                }

                .or {
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    padding: 0 10px;
                }

            }

            .social-login {
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;

                .soc-lnk {
                    display: inline-block;
                    padding: 12px 20px;
                    border-radius: 60px;
                    background-color: #1F2375;
                    color: #fff;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                        background: #1F2164;
                    }

                    .social-ico {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;

                        .ico {
                            fill: #fff;
                        }

                    }

                }

            }

        }

    }

    .footer {
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .copyright {
            color: rgba(255, 255, 255, 0.8);
        }

        .footer-links {
            .link {
                display: inline-block;
                color: rgba(255, 255, 255, 0.5);
                margin-right: 15px;
                text-decoration: none;
                @extend .transition;
                position: relative;

                &::after {
                    display: block;
                    content: '';
                    position: absolute;
                    bottom: 0;
                    top: 1rem;
                    left: 0;
                    border-bottom: 1px solid #fff;
                    opacity: 0.5;
                    width: 0%;
                    -webkit-transition: width 0.3s ease;
                    transition: width 0.3s ease;
                }

                &:hover {
                    color: rgba(255, 255, 255, 1);

                    &::after {
                        width: 100%;
                    }

                }

                &:last-child {
                    margin-right: 0;
                }

            }

        }

    }

}

@media (max-width:767.98px) {
    .login-wrapper .header {
        padding: 20px;
        flex-direction: column;
    }

    .login-wrapper .header .new-acc-lnk {
        margin-top: 10px;
    }

    .login-wrapper .login-box {
        max-width: 100%;
        flex-direction: column;
        align-items: initial;
    }

    .login-wrapper .login-box .login-info {
        padding: 30px 20px;
        padding-top: 0px;
    }

    .login-wrapper .login-box .login-info .title {
        text-align: center;
    }

    .login-wrapper .login-box .login-info .sub-title {
        margin-top: 10px;
        text-align: center;
    }

    .login-wrapper .login-box .break-line {
        width: 100%;
        max-width: 90%;
        height: 1px;
    }

    .login-wrapper .login-box .login-form {
        padding: 30px 20px;
        padding-bottom: 15px;
    }

    .login-wrapper .login-box .login-form .form-group {
        margin-bottom: 20px;
    }

    .login-wrapper .login-box .login-form .head {
        margin-bottom: 15px;
    }

    .login-wrapper .login-box .login-form .form-action {
        flex-direction: column;
    }

    .login-wrapper .login-box .login-form .form-action .btn-log-in-up {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .login-wrapper .login-box .login-form .form-action .link {
        order: 2;
    }

    .login-wrapper .login-box .login-form .social-login {
        margin-top: 0;
        display: block;
    }

    .login-wrapper .login-box .login-form .social-login .soc-lnk {
        min-width: 180px;
        margin-bottom: 15px;
        margin-right: 15px;
    }

    .login-wrapper .footer {
        padding: 20px;
        padding-top: 0;
        flex-direction: column;
    }

    .login-wrapper .footer .copyright {
        margin-bottom: 10px;
    }

}

@media (max-width:991.98px) {
    .login-wrapper .header {
        padding: 30px;
    }

    .login-wrapper .login-box {
        display: block;
    }

    .login-wrapper .login-box .login-info {
        padding-left: 30px;
        padding-right: 30px;
    }

    .login-wrapper .login-box .break-line {
        width: 90%;
        height: 1px;
    }

    .login-wrapper .login-box .login-info .title,
    .login-wrapper .login-box .login-info .sub-title {
        text-align: center;
    }

}

@media (max-width:1199.98px) {
}
